.__loading-3d-2 {
  --s: var(--size, 25px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, #666);
  --c3: var(--color-3, #aaa);
  --d1: var(--duration-1, 0.8s);

  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
  filter: drop-shadow(0 0 0 var(--c1));
  animation: __loading-3d-2-l2 var(--d1) infinite;
}

.__loading-3d-2:before {
  content: '';
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at var(--s) var(--_d),
    var(--c1) 135deg,
    var(--c2) 0 270deg,
    var(--c3) 0
  );
}

@keyframes __loading-3d-2-l2 {
  50% {
    filter: drop-shadow(0 0 5px var(--c1));
  }
}
