.__loading-3d-3 {
  --s: var(--size, 25px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, #666);
  --c3: var(--color-3, #aaa);
  --d1: var(--duration-1, 0.8s);

  --_d: calc(0.353 * var(--s));

  height: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}

.__loading-3d-3:before {
  content: '';
  height: 100%;
  margin: auto 0;
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at var(--s) var(--_d),
    var(--c1) 135deg,
    var(--c2) 0 270deg,
    var(--c3) 0
  );
  animation: __loading-3d-3-l3 var(--d1) infinite alternate;
}

@keyframes __loading-3d-3-l3 {
  100% {
    height: 40%;
  }
}
