.__loading-cut-3 {
  width: 78px;
  height: calc(27px * 0.866 + 8px);
  background: #fd135a;
  --c1: conic-gradient(from 150deg at top, #000 60deg, #0000 0);
  --c2: conic-gradient(from -30deg at bottom, #000 60deg, #0000 0);
  --s: 27px calc(27px * 0.866);
  clip-path: polygon(18.1px 0, calc(100% - 18.1px) 0, 100% 100%, 0 100%);
  -webkit-mask:
    var(--c1) left 8px top 50%,
    var(--c2) center,
    var(--c1) right 8px top 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: __loading-cut-3-l3 1.5s infinite;
}
@keyframes __loading-cut-3-l3 {
  0% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      auto;
  }
  16.67% {
    -webkit-mask-size:
      var(--s),
      0 0,
      0 0,
      auto;
  }
  33.33% {
    -webkit-mask-size:
      var(--s),
      var(--s),
      0 0,
      auto;
  }
  50% {
    -webkit-mask-size: var(--s), var(--s), var(--s), auto;
  }
  66.67% {
    -webkit-mask-size:
      0 0,
      var(--s),
      var(--s),
      auto;
  }
  83.33% {
    -webkit-mask-size:
      0 0,
      0 0,
      var(--s),
      auto;
  }
  100% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      auto;
  }
}
