@scope (.__loading-cut-8) {
  & {
    width: 48px;
    height: 48px;
    background: #3fd97f;
    --c: no-repeat radial-gradient(farthest-side, #000 92%, #0000);
    --s: 20px 20px;
    -webkit-mask:
      var(--c) top -8px left 50%,
      var(--c) right -8px top 50%,
      var(--c) bottom -8px left 50%,
      var(--c) left -8px top 50%,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: l8 1.5s infinite;
  }
  @keyframes l8 {
    0% {
      -webkit-mask-size:
        0 0,
        0 0,
        0 0,
        0 0,
        auto;
    }
    12.5% {
      -webkit-mask-size:
        var(--s),
        0 0,
        0 0,
        0 0,
        auto;
    }
    25% {
      -webkit-mask-size:
        var(--s),
        var(--s),
        0 0,
        0 0,
        auto;
    }
    37.5% {
      -webkit-mask-size:
        var(--s),
        var(--s),
        var(--s),
        0 0,
        auto;
    }
    45%,
    55% {
      -webkit-mask-size: var(--s), var(--s), var(--s), var(--s), auto;
    }
    62.5% {
      -webkit-mask-size:
        0 0,
        var(--s),
        var(--s),
        var(--s),
        auto;
    }
    75% {
      -webkit-mask-size:
        0 0,
        0 0,
        var(--s),
        var(--s),
        auto;
    }
    87.5% {
      -webkit-mask-size:
        0 0,
        0 0,
        0 0,
        var(--s),
        auto;
    }
    100% {
      -webkit-mask-size:
        0 0,
        0 0,
        0 0,
        0 0,
        auto;
    }
  }
}
