.__loading-nature-15 {
  --s: var(--size, 80px);
  --d: var(--duration, 1s);
  --d1:var(--duration-1, calc(var(--d) * 1.5));
  --c1: var(--color-1, #83def1);
  --c2: var(--color-2, #fb4f05);
  --c3: var(--color-3, #fff);

  --__5: calc(var(--s) * 5 / 80);
  --__15: calc(var(--s) * 15 / 80);
  --__10: calc(var(--s) * 10 / 80);
  --__20: calc(var(--s) * 20 / 80);
  --__30: calc(var(--s) * 30 / 80);
  --__40: calc(var(--s) * 40 / 80);
  --__100: calc(var(--s) * 100 / 80);

  width: var(--s);
  height: var(--__40);
  background: var(--c1);
  position: relative;
  overflow: hidden;
}
.__loading-nature-15:before {
  content: '';
  position: absolute;
  top: var(--__10);
  left: 0;
  height: var(--__20);
  width: var(--__30);
  background:
    radial-gradient(farthest-side, #000 50%, var(--c3) 52% 80%, #0000) 78% 22%/var(--__5) var(--__5),
    radial-gradient(farthest-side, var(--c2) 92%, #0000) right/80% 100%,
    radial-gradient(farthest-side at left, var(--c2) 92%, #0000) left/35% 80%;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 81% 50%, 100% 60%, 100% 100%, 0 100%, 20% 50%);
  animation: __loading-nature-15-l15 var(--d1) infinite;
}
@keyframes __loading-nature-15-l15 {
  0% {
    transform: translate(-100%);
  }
  40% {
    transform: translate(var(--__15));
  }
  80%,
  100% {
    transform: translate(calc(var(--__100) / 4));
  }
}
