.__loading-bouncing-1 {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #524656;
  position: relative;
  overflow: hidden;
}
.__loading-bouncing-1:before {
  content: '';
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-1-l1-0 0.5s cubic-bezier(0, 900, 1, 900) infinite,
    __loading-bouncing-1-l1-1 2s linear infinite;
}
@keyframes __loading-bouncing-1-l1-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes __loading-bouncing-1-l1-1 {
  0% {
    translate: -500%;
  }
  to {
    translate: 500%;
  }
}
.__loading-bouncing-2 {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #524656;
  position: relative;
  overflow: hidden;
}
.__loading-bouncing-2:before {
  content: '';
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-2-l2-0 0.5s cubic-bezier(0, 900, 1, 900) infinite,
    __loading-bouncing-2-l2-1 2s linear infinite alternate;
}
@keyframes __loading-bouncing-2-l2-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes __loading-bouncing-2-l2-1 {
  0% {
    translate: -500%;
  }
  to {
    translate: 500%;
  }
}
.__loading-bouncing-3 {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #0000;
  background: linear-gradient(90deg, #524656 50%, #0000 0) -25% 100%/50% 3px repeat-x border-box;
  position: relative;
  animation: __loading-bouncing-3-l3-0 0.75s linear infinite;
}
.__loading-bouncing-3:before {
  content: '';
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation: __loading-bouncing-3-l3-1 0.75s cubic-bezier(0, 900, 1, 900) infinite;
}
@keyframes __loading-bouncing-3-l3-0 {
  to {
    background-position: -125% 100%;
  }
}
@keyframes __loading-bouncing-3-l3-1 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
.__loading-bouncing-4 {
  height: 60px;
  aspect-ratio: 2;
  position: relative;
}
.__loading-bouncing-4:before {
  content: '';
  position: absolute;
  inset: 100% 75% -3px 0;
  background: #524656;
  animation: __loading-bouncing-4-l4-0 1s linear infinite alternate;
}
.__loading-bouncing-4:after {
  content: '';
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-4-l4-1 1s cubic-bezier(0, 700, 1, 700) infinite alternate,
    __loading-bouncing-4-l4-2 1s linear infinite alternate;
}
@keyframes __loading-bouncing-4-l4-0 {
  0%,
  30% {
    translate: 0% -2px;
    rotate: 20deg;
  }
  70%,
  to {
    translate: 300% -2px;
    rotate: -20deg;
  }
}
@keyframes __loading-bouncing-4-l4-1 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes __loading-bouncing-4-l4-2 {
  0% {
    translate: -220%;
  }
  to {
    translate: 220%;
  }
}
.__loading-bouncing-5 {
  height: 60px;
  aspect-ratio: 1;
  border: 3px solid #524656;
  border-top: none;
  position: relative;
}
.__loading-bouncing-5:before {
  content: '';
  position: absolute;
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-5-l5-0 0.5s cubic-bezier(0, 800, 1, 800) infinite -0.25s,
    __loading-bouncing-5-l5-1 0.5s linear infinite alternate;
}
@keyframes __loading-bouncing-5-l5-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes __loading-bouncing-5-l5-1 {
  0%,
  8% {
    left: 0%;
  }
  92%,
  to {
    left: 70%;
  }
}
.__loading-bouncing-6 {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
  border: 3px solid #0000;
}
.__loading-bouncing-6:before {
  content: '';
  position: absolute;
  inset: auto 35% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation: __loading-bouncing-6-l6-0 0.5s cubic-bezier(0, 800, 1, 800) infinite;
}
.__loading-bouncing-6:after {
  content: '';
  position: absolute;
  inset: 0;
  outline: 3px solid #524656;
  animation: __loading-bouncing-6-l6-1 0.5s linear infinite;
}
@keyframes __loading-bouncing-6-l6-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes __loading-bouncing-6-l6-1 {
  0%,
  30% {
    rotate: 0deg;
  }
  70%,
  to {
    rotate: 90deg;
  }
}
.__loading-bouncing-7 {
  height: 60px;
  aspect-ratio: 1;
  border: 3px solid #524656;
  position: relative;
}
.__loading-bouncing-7:before {
  content: '';
  position: absolute;
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-7-l7-0 0.49s infinite alternate linear -0.11s,
    __loading-bouncing-7-l7-1 0.71s infinite alternate linear -0.23s;
}
@keyframes __loading-bouncing-7-l7-0 {
  0%,
  5% {
    bottom: 0%;
  }
  95%,
  to {
    bottom: 70%;
  }
}
@keyframes __loading-bouncing-7-l7-1 {
  0%,
  5% {
    left: 0%;
  }
  95%,
  to {
    left: 70%;
  }
}
.__loading-bouncing-8 {
  height: 60px;
  aspect-ratio: 1;
  border: 3px solid #524656;
  position: relative;
}
.__loading-bouncing-8:before,
.__loading-bouncing-8:after {
  content: '';
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-8-l8-0 0.57s infinite alternate linear -0.13s,
    __loading-bouncing-8-l8-1 0.35s infinite alternate linear -0.23s;
}
.__loading-bouncing-8:after {
  background: #45ada8;
  animation:
    __loading-bouncing-8-l8-0 0.29s infinite alternate linear -0.11s,
    __loading-bouncing-8-l8-1 0.51s infinite alternate linear -0.34s;
}
@keyframes __loading-bouncing-8-l8-0 {
  0%,
  5% {
    bottom: 0%;
  }
  95%,
  to {
    bottom: 80%;
  }
}
@keyframes __loading-bouncing-8-l8-1 {
  0%,
  5% {
    left: 0%;
  }
  95%,
  to {
    left: 80%;
  }
}
.__loading-bouncing-9 {
  width: 60px;
  aspect-ratio: 0.5;
  display: grid;
}
.__loading-bouncing-9:before {
  content: '';
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto auto 0;
  background: #cf4647;
  animation: __loading-bouncing-9-l9-0 0.5s cubic-bezier(0, 800, 1, 800) infinite;
}
.__loading-bouncing-9:after {
  content: '';
  width: 100%;
  aspect-ratio: 1 / cos(30deg);
  margin: 0 auto auto;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #524656;
  animation: __loading-bouncing-9-l9-1 0.5s linear infinite;
}
@keyframes __loading-bouncing-9-l9-0 {
  0%,
  2% {
    translate: 0 0%;
  }
  98%,
  to {
    translate: 0 -0.2%;
  }
}
@keyframes __loading-bouncing-9-l9-1 {
  0%,
  5% {
    rotate: 0deg;
  }
  95%,
  to {
    rotate: -60deg;
  }
}
.__loading-bouncing-10 {
  width: 60px;
  aspect-ratio: 0.5;
  display: grid;
  animation: __loading-bouncing-10-l10-1 3s linear infinite;
  transform-origin: 50% calc(100% / sqrt(3));
}
.__loading-bouncing-10:before {
  content: '';
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto auto 0;
  background: #cf4647;
  animation: __loading-bouncing-10-l10-0 0.5s cubic-bezier(0, 800, 1, 800) infinite;
}
.__loading-bouncing-10:after {
  content: '';
  width: 100%;
  aspect-ratio: 1 / cos(30deg);
  margin: 0 auto auto;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #524656;
  animation: inherit;
  animation-direction: reverse;
}
@keyframes __loading-bouncing-10-l10-0 {
  0%,
  2% {
    translate: 0 0%;
  }
  98%,
  to {
    translate: 0 -0.2%;
  }
}
@keyframes __loading-bouncing-10-l10-1 {
  to {
    rotate: 1turn;
  }
}
.__loading-bouncing-11 {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
  border: 3px solid #0000;
  animation: __loading-bouncing-11-l11-1 3s linear infinite;
}
.__loading-bouncing-11:before {
  content: '';
  position: absolute;
  inset: auto 35% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation: __loading-bouncing-11-l11-0 0.5s cubic-bezier(0, 500, 1, 500) infinite;
}
.__loading-bouncing-11:after {
  content: '';
  position: absolute;
  --b: 4px;
  inset: calc(-1 * var(--b)) auto calc(-1 * var(--b)) 50%;
  aspect-ratio: 1 / cos(30deg);
  translate: -50% 0;
  clip-path: polygon(
    0 50%,
    50% -50%,
    100% 50%,
    50% 150%,
    0 50%,
    var(--b) 50%,
    calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    var(--b) 50%
  );
  background: #524656;
  animation: inherit;
  animation-direction: reverse;
}
@keyframes __loading-bouncing-11-l11-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes __loading-bouncing-11-l11-1 {
  to {
    rotate: 1turn;
  }
}
.__loading-bouncing-12 {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
  background:
    conic-gradient(at 20px 40px, #0000 25%, #524656 0),
    conic-gradient(from -90deg at 40px 20px, #0000 75%, #524656 0);
  clip-path: inset(-100% 0);
}
.__loading-bouncing-12:before {
  content: '';
  position: absolute;
  inset: auto 75% 0 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-12-l12-0 0.5s cubic-bezier(0, 600, 1, 600) infinite,
    __loading-bouncing-12-l12-1 2s linear infinite;
}
@keyframes __loading-bouncing-12-l12-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes __loading-bouncing-12-l12-1 {
  0% {
    translate: -18px -80px;
  }
  to {
    translate: 62px 0;
  }
}
