.__loading-bouncing-8 {
  height: 60px;
  aspect-ratio: 1;
  border: 3px solid #524656;
  position: relative;
}
.__loading-bouncing-8:before,
.__loading-bouncing-8:after {
  content: '';
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #cf4647;
  animation:
    __loading-bouncing-8-l8-0 0.57s infinite alternate linear -0.13s,
    __loading-bouncing-8-l8-1 0.35s infinite alternate linear -0.23s;
}
.__loading-bouncing-8:after {
  background: #45ada8;
  animation:
    __loading-bouncing-8-l8-0 0.29s infinite alternate linear -0.11s,
    __loading-bouncing-8-l8-1 0.51s infinite alternate linear -0.34s;
}
@keyframes __loading-bouncing-8-l8-0 {
  0%,
  5% {
    bottom: 0%;
  }
  95%,
  to {
    bottom: 80%;
  }
}
@keyframes __loading-bouncing-8-l8-1 {
  0%,
  5% {
    left: 0%;
  }
  95%,
  to {
    left: 80%;
  }
}
