.__loading-rolling-1 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
}
.__loading-rolling-1:before,
.__loading-rolling-1:after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
}
.__loading-rolling-1:before {
  margin: 25%;
  background: repeating-conic-gradient(#c02942 0 60deg, #0b486b 0 120deg);
  transform: rotate(0turn) translate(50%) rotate(0turn);
  animation: __loading-rolling-1-l1 3s linear infinite;
}
.__loading-rolling-1:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(from -15deg, #c02942 0 30deg, #0b486b 0 60deg);
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
}
@keyframes __loading-rolling-1-l1 {
  to {
    transform: rotate(1turn) translate(50%) rotate(-2turn);
  }
}
