.__loading-rolling-2 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
}
.__loading-rolling-2:before,
.__loading-rolling-2:after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
}
.__loading-rolling-2:before {
  margin: 25%;
  background: repeating-conic-gradient(#c02942 0 60deg, #0b486b 0 120deg);
  transform: rotate(0turn) translate(50%) rotate(0turn);
  animation: __loading-rolling-2-l2 2s alternate infinite ease-in-out;
}
.__loading-rolling-2:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(from -15deg, #c02942 0 30deg, #0b486b 0 60deg);
  mask:
    conic-gradient(from 75deg, #000 210deg, #0000 0) content-box exclude,
    conic-gradient(from 75deg, #000 210deg, #0000 0);
}
@keyframes __loading-rolling-2-l2 {
  to {
    transform: rotate(0.5turn) translate(50%) rotate(-1turn);
  }
}
