@scope (.__loading-dots-22) {
  & {
    width: 17px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    display: grid;
    animation: l22-0 2s infinite linear;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    transform: rotate(0deg) translate(150%);
    animation: l22 1s infinite;
  }
  &:after {
    animation-delay: -0.5s;
  }
  @keyframes l22-0 {
    100% {
      transform: rotate(1turn);
    }
  }
  @keyframes l22 {
    100% {
      transform: rotate(1turn) translate(150%);
    }
  }
}
