@scope (.__loading-dots-39) {
  & {
    height: 15px;
    aspect-ratio: 5;
    display: grid;
    animation: l39-0 1s infinite linear;
  }
  &:before,
  &:after {
    content: '';
    width: calc(140% / 3);
    grid-area: 1/1;
    --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
    background:
      var(--_g) left,
      var(--_g) right;
    background-size: calc(300% / 7) 100%;
    animation: l39-1 1s infinite linear;
  }
  &:after {
    margin-left: auto;
    --s: -1;
  }
  @keyframes l39-0 {
    0%,
    30% {
      transform: rotate(0);
    }
    50%,
    100% {
      transform: rotate(0.5turn);
    }
  }
  @keyframes l39-1 {
    30%,
    70% {
      transform: translate(calc(var(--s, 1) * 400% / 14));
    }
  }
}
