.__loading-dots-48 {
  height: 15px;
  aspect-ratio: 5;
  -webkit-mask: linear-gradient(90deg, #0000, #000 20% 80%, #0000);
  background: radial-gradient(closest-side at 37.5% 50%, #000 94%, #0000) 0 / calc(80% / 3) 100%;
  animation: __loading-dots-48-l48 0.75s infinite linear;
}
@keyframes __loading-dots-48-l48 {
  100% {
    background-position: 36.36%;
  }
}
