.__loading-dots-8 {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
}
.__loading-dots-8::before,
.__loading-dots-8::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #000;
}
.__loading-dots-8::before {
  box-shadow: -25px 0;
  animation: __loading-dots-8-l8-1 1s infinite linear;
}
.__loading-dots-8::after {
  transform: rotate(0deg) translateX(25px);
  animation: __loading-dots-8-l8-2 1s infinite linear;
}

@keyframes __loading-dots-8-l8-1 {
  100% {
    transform: translateX(25px);
  }
}
@keyframes __loading-dots-8-l8-2 {
  100% {
    transform: rotate(-180deg) translateX(25px);
  }
}
