.__loading-dancers-8 {
  width: 16px;
  aspect-ratio: 1;
  background: #3fb8af;
  position: relative;
  animation: __loading-dancers-8-l8-0 2.5s infinite linear alternate;
}
.__loading-dancers-8:before {
  content: '';
  position: absolute;
  inset: 0;
  background: #ff3d7f;
  transform: translate(100%);
  transform-origin: top left;
  animation: __loading-dancers-8-l8-1 0.5s infinite alternate;
}
@keyframes __loading-dancers-8-l8-0 {
  0%,
  19.9%,
  80%,
  100% {
    transform: scale(1, 1);
  }
  20%,
  39.9% {
    transform: scale(-1, 1);
  }
  40%,
  59.9% {
    transform: scale(-1, -1);
  }
  60%,
  79.9% {
    transform: scale(1, -1);
  }
}
@keyframes __loading-dancers-8-l8-1 {
  0%,
  20% {
    transform: translate(100%) rotate(0);
  }
  80%,
  100% {
    transform: translate(100%) rotate(-180deg);
  }
}
