.__loading-dancers-9 {
  width: 32px;
  height: 16px;
  display: flex;
  animation: __loading-dancers-9-l9-0 1s infinite;
}
.__loading-dancers-9:before,
.__loading-dancers-9:after {
  content: '';
  flex: 1;
  background: #3fb8af;
  transform-origin: top right;
  animation: __loading-dancers-9-l9-1 1s infinite;
}
.__loading-dancers-9:after {
  background: #ff3d7f;
  transform-origin: top left;
  --s: -1;
}
@keyframes __loading-dancers-9-l9-0 {
  100% {
    transform: translateY(100%);
  }
}
@keyframes __loading-dancers-9-l9-1 {
  100% {
    transform: rotate(calc(var(--s, 1) * 90deg));
  }
}
