.__loading-classic-1 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: __loading-classic-1-l1 1s linear infinite alternate;
}
.__loading-classic-1:before {
  content: 'Loading...';
}
@keyframes __loading-classic-1-l1 {
  to {
    opacity: 0;
  }
}
