.__loading-classic-13 {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  display: inline-grid;
  overflow: hidden;
}
.__loading-classic-13:before,
.__loading-classic-13:after {
  content: 'Loading...';
  grid-area: 1/1;
  clip-path: inset(0 -200% 50%);
  text-shadow: -10ch 0 0;
  animation: __loading-classic-13-l13 2s infinite;
}
.__loading-classic-13:after {
  clip-path: inset(50% -200% 0%);
  text-shadow: 10ch 0 0;
  --s: -1;
  animation-delay: 1s;
}
@keyframes __loading-classic-13-l13 {
  25%,
  100% {
    transform: translateX(calc(var(--s, 1) * 100%));
  }
}
