@scope (.__loading-classic-27) {
  & {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    display: inline-flex;
  }
  &::before {
    content: 'Loadi';
    animation: l27 2s infinite;
  }
  &::after {
    content: 'ng...';
    animation: l27 2s infinite 1s;
  }

  @keyframes l27 {
    50%,
    100% {
      transform: rotate(1turn);
    }
  }
}
