.__loading-classic-32 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  text-shadow:
    0 0 0 rgb(255 0 0),
    0 0 0 rgb(0 255 0),
    0 0 0 rgb(0 0 255);
  font-size: 30px;
  animation: __loading-classic-32-l32 1s infinite cubic-bezier(0.5, -2000, 0.5, 2000);
}
.__loading-classic-32:before {
  content: 'Loading...';
}

@keyframes __loading-classic-32-l32 {
  25%,
  100% {
    text-shadow:
      0.03px -0.01px 0.01px rgb(255 0 0),
      0.02px 0.02px 0 rgb(0 255 0),
      -0.02px 0.02px 0 rgb(0 0 255);
  }
}
