@scope (.__loading-classic-33) {
  & {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #0000;
    animation: l33 1s infinite alternate;
  }
  &:before {
    content: 'Loading...';
  }

  @keyframes l33 {
    0%,
    15%,
    75%,
    100% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    20% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 9px #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    25% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 7px #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    30% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 9px #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    35% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 7px #000;
    }
    40% {
      text-shadow:
        calc(0 * var(--w)) 0 5px #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    45% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 7px #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    50% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 5px #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    55% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 8px #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    60% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 5px #000,
        calc(-9 * var(--w)) 0 #000;
    }
    65% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 7px #000,
        calc(-2 * var(--w)) 0 #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
    70% {
      text-shadow:
        calc(0 * var(--w)) 0 #000,
        calc(-1 * var(--w)) 0 #000,
        calc(-2 * var(--w)) 0 9px #000,
        calc(-3 * var(--w)) 0 #000,
        calc(-4 * var(--w)) 0 #000,
        calc(-5 * var(--w)) 0 #000,
        calc(-6 * var(--w)) 0 #000,
        calc(-7 * var(--w)) 0 #000,
        calc(-8 * var(--w)) 0 #000,
        calc(-9 * var(--w)) 0 #000;
    }
  }
}
