.__loading-classic-8 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  background: linear-gradient(90deg, #000 calc(50% - 0.5ch), #c02942 0 calc(50% + 0.5ch), #000 0)
    right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: __loading-classic-8-l8 2s infinite steps(11);
}
.__loading-classic-8:before {
  content: 'Loading...';
}
@keyframes __loading-classic-8-l8 {
  to {
    background-position: left;
  }
}
