@scope (.__loading-classic-9) {
  & {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    overflow: hidden;
    animation: l9 5s infinite cubic-bezier(0.3, 1, 0, 1);
  }
  &:before {
    content: 'Loading...';
  }
  @keyframes l9 {
    0% {
      text-shadow:
        0 0 #000,
        11ch 0 #8a9b0f,
        22ch 0 #c02942,
        33ch 0 #00a0b0,
        44ch 0 #000;
    }
    25% {
      text-shadow:
        -11ch 0 #000,
        0ch 0 #8a9b0f,
        11ch 0 #c02942,
        22ch 0 #00a0b0,
        33ch 0 #000;
    }
    50% {
      text-shadow:
        -22ch 0 #000,
        -11ch 0 #8a9b0f,
        0ch 0 #c02942,
        11ch 0 #00a0b0,
        22ch 0 #000;
    }
    75% {
      text-shadow:
        -33ch 0 #000,
        -22ch 0 #8a9b0f,
        -11ch 0 #c02942,
        0ch 0 #00a0b0,
        11ch 0 #000;
    }
    100% {
      text-shadow:
        -44ch 0 #000,
        -33ch 0 #8a9b0f,
        -22ch 0 #c02942,
        -11ch 0 #00a0b0,
        0ch 0 #000;
    }
  }
}
