.__loading-bars-10 {
  height: 45px;
  aspect-ratio: 1.2;
  --c: no-repeat repeating-linear-gradient(90deg, #000 0 20%, #0000 0 40%);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%;
  background-size: calc(500% / 6) 50%;
  animation: __loading-bars-10-l10 1s infinite linear;
}
@keyframes __loading-bars-10-l10 {
  33% {
    background-position:
      0 0,
      100% 100%;
  }
  66% {
    background-position:
      0 100%,
      100% 0;
  }
  100% {
    background-position:
      50% 100%,
      50% 0;
  }
}
