.__loading-bars-13 {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#000 0 0);
  --m: radial-gradient(farthest-side, #000 92%, #0000);
  background: var(--c), var(--m), var(--c), var(--m), var(--c), var(--m);
  background-size:
    8px 12px,
    8px 8px;
  background-repeat: no-repeat;
  animation: __loading-bars-13-l13 1s infinite alternate;
}
@keyframes __loading-bars-13-l13 {
  0%,
  100% {
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% 100%,
      100% 0,
      100% 100%;
  }
  20% {
    background-position:
      0 calc(50% - 6px),
      0 calc(50% + 4px),
      50% 0,
      50% 100%,
      100% 0,
      100% 100%;
  }
  40% {
    background-position:
      0 calc(50% - 6px),
      0 calc(50% + 4px),
      50% calc(50% - 6px),
      50% calc(50% + 4px),
      100% 0,
      100% 100%;
  }
  60% {
    background-position:
      0 0,
      0 100%,
      50% calc(50% - 6px),
      50% calc(50% + 4px),
      100% calc(50% - 6px),
      100% calc(50% + 4px);
  }
  80% {
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% 100%,
      100% calc(50% - 6px),
      100% calc(50% + 4px);
  }
}
