.__loading-bars-24 {
  width: 45px;
  aspect-ratio: 0.8;
  --c: no-repeat repeating-linear-gradient(90deg, #000 0 20%, #0000 0 40%);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 100% 21%;
  animation: __loading-bars-24-l24 0.75s infinite alternate;
}
@keyframes __loading-bars-24-l24 {
  0%,
  10% {
    background-position:
      0 calc(0 * 100% / 4),
      0 calc(1 * 100% / 4),
      0 calc(2 * 100% / 4),
      0 calc(3 * 100% / 4);
  }
  25% {
    background-position:
      0 calc(0 * 100% / 4),
      0 calc(1 * 100% / 4),
      0 calc(2 * 100% / 4),
      0 calc(4 * 100% / 4);
  }
  50% {
    background-position:
      0 calc(0 * 100% / 4),
      0 calc(1 * 100% / 4),
      0 calc(3 * 100% / 4),
      0 calc(4 * 100% / 4);
  }
  75% {
    background-position:
      0 calc(0 * 100% / 4),
      0 calc(2 * 100% / 4),
      0 calc(3 * 100% / 4),
      0 calc(4 * 100% / 4);
  }
  90%,
  100% {
    background-position:
      0 calc(1 * 100% / 4),
      0 calc(2 * 100% / 4),
      0 calc(3 * 100% / 4),
      0 calc(4 * 100% / 4);
  }
}
