.__loading-bars-29 {
  width: 9px;
  height: 9px;
  background: #000;
  color: #000;
  box-shadow:
    -18px -9px,
    0 -9px,
    18px -9px,
    -18px 0,
    18px 0,
    -18px 9px,
    0 9px,
    18px 9px,
    -18px 18px,
    0 18px,
    18px 18px;
  animation: __loading-bars-29-l29 2s infinite;
}

@keyframes __loading-bars-29-l29 {
  10% {
    box-shadow:
      -18px -9px,
      0 -9px,
      18px -9px,
      -18px 0,
      18px 0,
      -18px 9px #0000,
      0 9px,
      18px 9px #0000,
      -18px 18px,
      0 18px,
      18px 18px;
  }
  20% {
    box-shadow:
      -18px -9px,
      0 -9px,
      18px -9px,
      -18px 0,
      18px 0,
      -18px 9px,
      0 9px,
      18px 9px #0000,
      -18px 18px #0000,
      0 18px,
      18px 18px;
  }
  30% {
    box-shadow:
      -18px -9px,
      0 -9px #0000,
      18px -9px,
      -18px 0 #0000,
      18px 0,
      -18px 9px,
      0 9px #0000,
      18px 9px,
      -18px 18px #0000,
      0 18px,
      18px 18px #0000;
  }
  40% {
    box-shadow:
      -18px -9px,
      0 -9px,
      18px -9px,
      -18px 0 #0000,
      18px 0 #0000,
      -18px 9px,
      0 9px,
      18px 9px,
      -18px 18px,
      0 18px,
      18px 18px;
  }
  50% {
    box-shadow:
      -18px -9px,
      0 -9px,
      18px -9px,
      -18px 0,
      18px 0 #0000,
      -18px 9px #0000,
      0 9px,
      18px 9px,
      -18px 18px,
      0 18px,
      18px 18px;
  }
  60% {
    box-shadow:
      -18px -9px,
      0 -9px #0000,
      18px -9px,
      -18px 0,
      18px 0,
      -18px 9px #0000,
      0 9px,
      18px 9px,
      -18px 18px #0000,
      0 18px,
      18px 18px;
  }
  70% {
    box-shadow:
      -18px -9px,
      0 -9px #0000,
      18px -9px #0000,
      -18px 0,
      18px 0,
      -18px 9px,
      0 9px,
      18px 9px,
      -18px 18px #0000,
      0 18px,
      18px 18px;
  }
  80% {
    box-shadow:
      -18px -9px #0000,
      0 -9px,
      18px -9px,
      -18px 0,
      18px 0,
      -18px 9px,
      0 9px,
      18px 9px,
      -18px 18px,
      0 18px,
      18px 18px #0000;
  }
  90% {
    box-shadow:
      -18px -9px #0000,
      0 -9px,
      18px -9px,
      -18px 0,
      18px 0,
      -18px 9px,
      0 9px #0000,
      18px 9px,
      -18px 18px,
      0 18px,
      18px 18px #0000;
  }
}
