.__loading-bars-9 {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 60%;
  animation: __loading-bars-9-l9 1s infinite;
}
@keyframes __loading-bars-9-l9 {
  33% {
    background-position:
      0% 0%,
      50% 100%,
      100% 0%;
  }
  66% {
    background-position:
      0% 100%,
      50% 0%,
      100% 100%;
  }
}
