.__loading-cut-3 {
  --s: var(--size, 27px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));
  --c1: var(--color-1, #fd135a);
  --c2: var(--color-2, #000);
  --_a: conic-gradient(from 150deg at top, var(--c2) 60deg, #0000 0);
  --_b: conic-gradient(from -30deg at bottom, var(--c2) 60deg, #0000 0);
  --_c: var(--s) calc(var(--s) * 0.866);

  width: calc(var(--s) * 2.889);
  height: calc(var(--s) * 0.866 + calc(var(--s) * 0.296));
  background: var(--c1);
  clip-path: polygon(calc(var(--s) * 0.67) 0, calc(100% - calc(var(--s) * 0.67)) 0, 100% 100%, 0 100%);
  -webkit-mask:
    var(--_a) left calc(var(--s) * 0.296) top 50%,
    var(--_b) center,
    var(--_a) right calc(var(--s) * 0.296) top 50%,
    linear-gradient(var(--c2) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: __loading-cut-3-l3 var(--d1) infinite;
}
@keyframes __loading-cut-3-l3 {
  0% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      auto;
  }
  16.67% {
    -webkit-mask-size:
      var(--_c),
      0 0,
      0 0,
      auto;
  }
  33.33% {
    -webkit-mask-size:
      var(--_c),
      var(--_c),
      0 0,
      auto;
  }
  50% {
    -webkit-mask-size: var(--_c), var(--_c), var(--_c), auto;
  }
  66.67% {
    -webkit-mask-size:
      0 0,
      var(--_c),
      var(--_c),
      auto;
  }
  83.33% {
    -webkit-mask-size:
      0 0,
      0 0,
      var(--_c),
      auto;
  }
  100% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      auto;
  }
}
