.__loading-cut-8 {
  --s: var(--size, 48px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));
  --c1: var(--color-1, #3fd97f);
  --c2: var(--color-2, #000);

  --_a: no-repeat radial-gradient(farthest-side, var(--c2) 92%, #0000);
  --_b: calc(var(--s) * 5/12) calc(var(--s) * 5/12);

  width: var(--s);
  height: var(--s);
  background: var(--c1);
  -webkit-mask:
    var(--_a) top calc(var(--s) * -1/6) left 50%,
    var(--_a) right calc(var(--s) * -1/6) top 50%,
    var(--_a) bottom calc(var(--s) * -1/6) left 50%,
    var(--_a) left calc(var(--s) * -1/6) top 50%,
    linear-gradient(var(--c2) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: __loading-cut-8-l8 var(--d1) infinite;
}
@keyframes __loading-cut-8-l8 {
  0% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      0 0,
      auto;
  }
  12.5% {
    -webkit-mask-size:
      var(--_b),
      0 0,
      0 0,
      0 0,
      auto;
  }
  25% {
    -webkit-mask-size:
      var(--_b),
      var(--_b),
      0 0,
      0 0,
      auto;
  }
  37.5% {
    -webkit-mask-size:
      var(--_b),
      var(--_b),
      var(--_b),
      0 0,
      auto;
  }
  45%,
  55% {
    -webkit-mask-size: var(--_b), var(--_b), var(--_b), var(--_b), auto;
  }
  62.5% {
    -webkit-mask-size:
      0 0,
      var(--_b),
      var(--_b),
      var(--_b),
      auto;
  }
  75% {
    -webkit-mask-size:
      0 0,
      0 0,
      var(--_b),
      var(--_b),
      auto;
  }
  87.5% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      var(--_b),
      auto;
  }
  100% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      0 0,
      auto;
  }
}
