.__loading-cut-9 {
  --s: var(--size, 50px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));
  --c1: var(--color-1, #fd135a);

  --_c: at 50% 66%, #000 60deg, #0000 0;
  --__a: calc(var(--s) * 1);
  --__b: calc(var(--s) * 866 / 1000);

  width: var(--__a);
  height: var(--__b);
  background: var(--c1);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  mask:
    conic-gradient(from 30deg var(--_c)) right,
    conic-gradient(from 150deg var(--_c)) bottom,
    conic-gradient(from -90deg var(--_c)) left,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: __loading-cut-9-l9 var(--d1) infinite;
}
@keyframes __loading-cut-9-l9 {
  0% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      auto;
  }
  13.33% {
    -webkit-mask-size:
      100% 100%,
      0 0,
      0 0,
      auto;
  }
  26.67% {
    -webkit-mask-size:
      100% 100%,
      100% 100%,
      0 0,
      auto;
  }
  40%,
  60% {
    -webkit-mask-size:
      100% 100%,
      100% 100%,
      100% 100%,
      auto;
  }
  73.33% {
    -webkit-mask-size:
      0 0,
      100% 100%,
      100% 100%,
      auto;
  }
  86.67% {
    -webkit-mask-size:
      0 0,
      0 0,
      100% 100%,
      auto;
  }
  100% {
    -webkit-mask-size:
      0 0,
      0 0,
      0 0,
      auto;
  }
}
