.__loading-arrow-2 {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.__loading-arrow-2:before,
.__loading-arrow-2:after {
  content: '';
  background: #000;
  width: 15px;
  clip-path: polygon(
    0 10px,
    calc(100% - 15px) 10px,
    calc(100% - 15px) 0,
    100% 50%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 10px),
    0 calc(100% - 10px)
  );
  animation: __loading-arrow-2-l2 1s infinite linear;
}
.__loading-arrow-2:before {
  transform: scaleX(-1);
}
@keyframes __loading-arrow-2-l2 {
  90%,
  100% {
    flex-grow: 0.5;
  }
}
