.__loading-dancers-4 {
  --s: var(--size, 16px);
  --d: var(--duration, 1000ms);

  --d1: var(--duration-1, calc(var(--d) * 1));
  --d2: var(--duration-2, calc(var(--d) * 0.5));

  --c1: var(--color-1, #3fb8af);
  --c2: var(--color-2, #ff3d7f);

  --_a: var(--s);
  --_b: calc(var(--s) * 30/16);
  --_c: calc(var(--s) * 16/16);

  width: var(--_a);
  aspect-ratio: 1;
  background: var(--c1);
  box-shadow: var(--_b) 0 var(--c2);
  animation:
    __loading-dancers-4-l4-1 var(--d1) infinite alternate,
    __loading-dancers-4-l4-2 var(--d2) infinite alternate;
}
@keyframes __loading-dancers-4-l4-1 {
  0%,
  40% {
    transform: rotate(0);
  }
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}
@keyframes __loading-dancers-4-l4-2 {
  80%,
  100% {
    box-shadow: var(--_c) 0 var(--c2);
  }
}
