.__loading-blob-10 {
  --s: var(--size, 100px);
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #fff);
  --d1: var(--duration-1, 1s);

  width: var(--s);
  aspect-ratio: 1;
  padding: calc(var(--s) * 0.1);
  box-sizing: border-box;
  display: grid;
  background: var(--c2);
  filter: blur(calc(var(--s) * 0.05)) contrast(10);
  mix-blend-mode: darken;
}
.__loading-blob-10:before,
.__loading-blob-10:after {
  content: '';
  grid-area: 1/1;
  background:
    linear-gradient(var(--c1) 0 0) left,
    linear-gradient(var(--c1) 0 0) right;
  background-size: calc(var(--s) * 0.2) calc(var(--s) * 0.4);
  background-origin: content-box;
  background-repeat: no-repeat;
}
.__loading-blob-10:after {
  height: calc(var(--s) * 0.2);
  width: calc(var(--s) * 0.2);
  margin: auto 0;
  border-radius: 50%;
  background: var(--c1);
  animation: __loading-blob-10-l10 var(--d1) infinite;
}
@keyframes __loading-blob-10-l10 {
  90%,
  100% {
    transform: translate(300%);
  }
}
