.__loading-blob-18 {
  --s: var(--size, 80px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, #000);
  --d:  var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 0.8));

  width: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 8) solid var(--c2);
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side at right, var(--c1) 98%, #0000) 20% 50%/40% 80%,
    radial-gradient(farthest-side at left, var(--c1) 98%, #0000) 80% 50%/40% 80%,
    var(--c2);
  background-repeat: no-repeat;
  filter: blur(calc(var(--s) / 20)) contrast(10);
  animation: __loading-blob-18-l18 var(--d1) infinite alternate;
}
@keyframes __loading-blob-18-l18 {
  0%,
  20% {
    background-position:
      20% 50%,
      80% 50%;
  }
  100% {
    background-position:
      80% 50%,
      20% 50%;
  }
}
