.__loading-blob-2 {
  --s: var(--size, 70px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, #ff00ff);
  --d: var(--duration, 3000ms);
  --d1: var(--duration-1, var(--d));
  --d2: var(--duration-2, calc(var(--d) * -0.2667));

  width: var(--s);
  height: var(--s);
  padding: calc(var(--s) * 10 / 70);
  box-sizing: border-box;
  background: var(--c1);
  mix-blend-mode: darken;
  display: grid;
  filter: blur(calc(var(--s) * 4 / 70)) contrast(10) hue-rotate(270deg);
}
.__loading-blob-2:before,
.__loading-blob-2:after {
  content: '';
  grid-area: 1/1;
  animation: __loading-blob-2-l2 var(--d1) infinite linear;
  background: var(--c2);
  border-radius: 50%;
}
.__loading-blob-2:after {
  animation-delay: var(--d2);
}
@keyframes __loading-blob-2-l2 {
  12.5% {
    border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%;
  }
  25% {
    border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%;
  }
  37.5% {
    border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%;
  }
  50% {
    border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%;
  }
  62.5% {
    border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%;
  }
  75% {
    border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%;
  }
  87.5% {
    border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
  }
}
