.__loading-blob-4 {
  --s: var(--size, 100px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, #ff00ff);
  --d1: var(--duration-1, 2s);

  width: var(--s);
  aspect-ratio: 1;
  padding: calc(var(--s) * 0.1);
  box-sizing: border-box;
  display: grid;
  background: var(--c1);
  filter: blur(calc(var(--s) * 0.05)) contrast(10) hue-rotate(180deg);
  mix-blend-mode: darken;
}
.__loading-blob-4:before,
.__loading-blob-4:after {
  content: '';
  grid-area: 1/1;
  margin: calc(var(--s) * 0.3) 0;
  border-radius: calc(var(--s) * 1);
  background: var(--c2);
  animation: __loading-blob-4-l4 var(--d1) infinite linear;
}
.__loading-blob-4:after {
  --_s: -1;
}
@keyframes __loading-blob-4-l4 {
  100% {
    transform: rotate(calc(var(--_s, 1) * 1turn));
  }
}
