.__loading-clones-18 {
  width: 60px;
  aspect-ratio: 1;
  background:
    linear-gradient(45deg, #60b99a 50%, #0000 0), linear-gradient(45deg, #0000 50%, #60b99a 0),
    linear-gradient(-45deg, #f77825 50%, #0000 0), linear-gradient(-45deg, #0000 50%, #f77825 0),
    linear-gradient(#554236 0 0);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: __loading-clones-18-l18 1.5s infinite;
}
@keyframes __loading-clones-18-l18 {
  0% {
    background-position:
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%;
  }
  25% {
    background-position:
      0 100%,
      100% 0,
      50% 50%,
      50% 50%,
      50% 50%;
  }
  50% {
    background-position:
      0 100%,
      100% 0,
      100% 100%,
      0 0,
      50% 50%;
  }
  75% {
    background-position:
      50% 50%,
      50% 50%,
      100% 100%,
      0 0,
      50% 50%;
  }
  100% {
    background-position:
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%;
  }
}
