.__loading-clones-3 {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #e3aad6;
  transform-origin: top;
  display: grid;
  animation: __loading-clones-3-l3-0 1s infinite linear;
}
.__loading-clones-3::before,
.__loading-clones-3::after {
  content: '';
  grid-area: 1/1;
  background: #f4dd51;
  border-radius: 50%;
  transform-origin: top;
  animation: inherit;
  animation-name: __loading-clones-3-l3-1;
}
.__loading-clones-3::after {
  background: #f10c49;
  --s: 180deg;
}
@keyframes __loading-clones-3-l3-0 {
  0%,
  20% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes __loading-clones-3-l3-1 {
  50% {
    transform: rotate(var(--s, 90deg));
  }
  100% {
    transform: rotate(0);
  }
}
