.__loading-classic-18 {
  --c: var(--content, 'Loading...');
  --s: var(--size, 10ch);
  --c1: var(--color-1, #000);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 3));

  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: calc(10 * var(--s));
  width: var(--s);
  overflow: hidden;
  white-space: nowrap;
  color: #0000;
  animation: __loading-classic-18-l18 var(--d1) infinite;
}

.__loading-classic-18:before {
  content: var(--c);
}

@keyframes __loading-classic-18-l18 {
  0% {
    text-shadow:
      calc(9 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-11 * var(--s)) 0 var(--c1),
      calc(-21 * var(--s)) 0 var(--c1),
      calc(-31 * var(--s)) 0 var(--c1),
      calc(-41 * var(--s)) 0 var(--c1),
      calc(-51 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  4% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-11 * var(--s)) 0 var(--c1),
      calc(-21 * var(--s)) 0 var(--c1),
      calc(-31 * var(--s)) 0 var(--c1),
      calc(-41 * var(--s)) 0 var(--c1),
      calc(-51 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  8% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-11 * var(--s)) 0 var(--c1),
      calc(-21 * var(--s)) 0 var(--c1),
      calc(-31 * var(--s)) 0 var(--c1),
      calc(-41 * var(--s)) 0 var(--c1),
      calc(-51 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  12% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-21 * var(--s)) 0 var(--c1),
      calc(-31 * var(--s)) 0 var(--c1),
      calc(-41 * var(--s)) 0 var(--c1),
      calc(-51 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  16% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-31 * var(--s)) 0 var(--c1),
      calc(-41 * var(--s)) 0 var(--c1),
      calc(-51 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  20% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-41 * var(--s)) 0 var(--c1),
      calc(-51 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  24% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-51 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  28% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-61 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  32% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-71 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  36% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-81 * var(--s)) 0 var(--c1);
  }
  40%,
  60% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  64% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-10 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  68% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-20 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  72% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-30 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  76% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-39 * var(--s)) 0 var(--c1),
      calc(-40 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  80% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-39 * var(--s)) 0 var(--c1),
      calc(-49 * var(--s)) 0 var(--c1),
      calc(-50 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  84% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-39 * var(--s)) 0 var(--c1),
      calc(-49 * var(--s)) 0 var(--c1),
      calc(-59 * var(--s)) 0 var(--c1),
      calc(-60 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  88% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-39 * var(--s)) 0 var(--c1),
      calc(-49 * var(--s)) 0 var(--c1),
      calc(-59 * var(--s)) 0 var(--c1),
      calc(-69 * var(--s)) 0 var(--c1),
      calc(-70 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  92% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-39 * var(--s)) 0 var(--c1),
      calc(-49 * var(--s)) 0 var(--c1),
      calc(-59 * var(--s)) 0 var(--c1),
      calc(-69 * var(--s)) 0 var(--c1),
      calc(-79 * var(--s)) 0 var(--c1),
      calc(-80 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  96% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-39 * var(--s)) 0 var(--c1),
      calc(-49 * var(--s)) 0 var(--c1),
      calc(-59 * var(--s)) 0 var(--c1),
      calc(-69 * var(--s)) 0 var(--c1),
      calc(-79 * var(--s)) 0 var(--c1),
      calc(-89 * var(--s)) 0 var(--c1),
      calc(-90 * var(--s)) 0 var(--c1);
  }
  100% {
    text-shadow:
      calc(-9 * var(--s)) 0 var(--c1),
      calc(-19 * var(--s)) 0 var(--c1),
      calc(-29 * var(--s)) 0 var(--c1),
      calc(-39 * var(--s)) 0 var(--c1),
      calc(-49 * var(--s)) 0 var(--c1),
      calc(-59 * var(--s)) 0 var(--c1),
      calc(-69 * var(--s)) 0 var(--c1),
      calc(-79 * var(--s)) 0 var(--c1),
      calc(-89 * var(--s)) 0 var(--c1),
      calc(-99 * var(--s)) 0 var(--c1);
  }
}
