.__loading-classic-19 {
  --c: var(--content, 'Loading...');
  --s: var(--size, 10ch);
  --c1: var(--color-1, #000);
  --d:var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 2));

  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: var(--s);
  width: var(--s);
  overflow: hidden;
  white-space: nowrap;
  color: #0000;
  animation: __loading-classic-19-l19 var(--d1) infinite linear;
}
.__loading-classic-19:before {
  content: var(--c);
}

@keyframes __loading-classic-19-l19 {
  0% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  4% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  8% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  12% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  16% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  20% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  24% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  28% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  32% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
  36% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0;
  }
  40%,
  60% {
    text-shadow:
      calc(0 * var(--s)) 0 var(--c1),
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  64% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0 var(--c1),
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  68% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0 var(--c1),
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  72% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0 var(--c1),
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  76% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0 var(--c1),
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  80% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0 var(--c1),
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  84% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0 var(--c1),
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  88% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0 var(--c1),
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  92% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0 var(--c1),
      calc(-9 * var(--s)) 0 var(--c1);
  }
  96% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0 var(--c1);
  }
  100% {
    text-shadow:
      calc(0 * var(--s)) 0,
      calc(-1 * var(--s)) 0,
      calc(-2 * var(--s)) 0,
      calc(-3 * var(--s)) 0,
      calc(-4 * var(--s)) 0,
      calc(-5 * var(--s)) 0,
      calc(-6 * var(--s)) 0,
      calc(-7 * var(--s)) 0,
      calc(-8 * var(--s)) 0,
      calc(-9 * var(--s)) 0;
  }
}
