.__loading-classic-26 {
  --c: var(--content, 'Loading...');
  --s: var(--size, fit-content);
  --c1: var(--color-1, inherit);
  --d:  var(--duration, 1s);
  --d1: var(--duration-1, calc(var(--d) * 2));

  width: var(--s);
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: var(--c1);
  animation: __loading-classic-26-l26 var(--d1) infinite;
}

.__loading-classic-26::before {
  content: var(--c);
}

@keyframes __loading-classic-26-l26 {
  0%,
  10% {
    transform: perspective(200px) rotateX(0) rotateY(0) scale(1);
  }
  30%,
  36% {
    transform: perspective(200px) rotateX(180deg) rotateY(0) scale(1);
  }
  63%,
  69% {
    transform: perspective(200px) rotateX(180deg) rotateY(180deg) scale(1);
  }
  90%,
  100% {
    transform: perspective(200px) rotateX(180deg) rotateY(180deg) scale(-1);
  }
}
