.__loading-filling-10 {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background:
    radial-gradient(0.71em at 50% 1em, #000 99%, #0000 101%) calc(50% - 1em) 1em/2em 200% repeat-x
      text,
    radial-gradient(0.71em at 50% -0.5em, #0000 99%, #000 101%) 50% 1.5em/2em 200% repeat-x text;
  animation:
    __loading-filling-10-l10-0 0.8s linear infinite alternate,
    __loading-filling-10-l10-1 4s linear infinite;
}
.__loading-filling-10:before {
  content: 'Loading';
}
@keyframes __loading-filling-10-l10-0 {
  to {
    background-position-x: 50%, calc(50% + 1em);
  }
}
@keyframes __loading-filling-10-l10-1 {
  to {
    background-position-y: -0.5em, 0;
  }
}
