@scope (.__loading-filling-11) {
  & {
    width: fit-content;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background: conic-gradient(#000 0 0) 0/0 100% no-repeat text;
    animation: l11 2s steps(8, jump-none) infinite;
  }
  &:before {
    content: 'Loading';
  }
  @keyframes l11 {
    to {
      background-size: 100% 100%;
    }
  }
}
