.__loading-filling-13 {
  width: fit-content;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) -1ch/1ch 100% no-repeat text;
  animation: __loading-filling-13-l13 2s steps(8, jump-none) infinite;
}
.__loading-filling-13:before {
  content: 'Loading';
}
@keyframes __loading-filling-13-l13 {
  to {
    background-position: 100%;
  }
}
