.__loading-filling-14 {
  width: fit-content;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) 0/1ch 100% no-repeat text;
  animation: __loading-filling-14-l14 1.5s steps(7, jump-none) infinite alternate;
}
.__loading-filling-14:before {
  content: 'Loading';
}
@keyframes __loading-filling-14-l14 {
  to {
    background-position: 100%;
  }
}
