@scope (.__loading-filling-4) {
  & {
    width: fit-content;
    font-size: 40px;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background: conic-gradient(#000 0 0) 50%/0 100% no-repeat text;
    animation: l4 1.5s linear infinite;
  }
  &:before {
    content: 'Loading';
  }
  @keyframes l4 {
    to {
      background-size: 120% 100%;
    }
  }
}
