.__loading-filling-7 {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  --l: #0000 45%, #000 0 55%, #0000 0;
  --g: 0/300% 100% no-repeat text;
  background:
    linear-gradient(-60deg, var(--l)) var(--g),
    linear-gradient(60deg, var(--l)) var(--g);
  animation: __loading-filling-7-l7 4s linear infinite;
}
.__loading-filling-7:before {
  content: 'Loading';
}
@keyframes __loading-filling-7-l7 {
  0% {
    background-position: 100%, 0;
  }
  50% {
    background-position: 0, 0;
  }
  to {
    background-position: 0, 100%;
  }
}
