.__loading-filling-8 {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) text;
  animation: __loading-filling-8-l8 2s linear infinite;
}
.__loading-filling-8:before {
  content: 'Loading';
}
@keyframes __loading-filling-8-l8 {
  0%,
  2%,
  8%,
  11%,
  15%,
  21%,
  30%,
  32%,
  35%,
  40%,
  46%,
  47%,
  53%,
  61%,
  70%,
  72%,
  77%,
  80%,
  86% {
    background-size: 0 0;
  }
  1%,
  9%,
  10%,
  16%,
  20%,
  31%,
  34%,
  41%,
  45%,
  48%,
  52%,
  55%,
  60%,
  73%,
  76%,
  81%,
  85%,
  96%,
  100% {
    background-size: 100% 100%;
  }
}
