.__loading-bouncing-10 {
  --s: var(--size, 60px);
  --c1: var(--color-1, #cf4647);
  --c2: var(--color-2, #524656);
  --d1: var(--duration-1, 0.5s);
  --d2: var(--duration-2, 3s);

  width: var(--s);
  aspect-ratio: 0.5;
  display: grid;
  animation: __loading-bouncing-10-l10-1 var(--d2) linear infinite;
  transform-origin: 50% calc(100% / sqrt(3));
}
.__loading-bouncing-10:before {
  content: '';
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto auto 0;
  background: var(--c1);
  animation: __loading-bouncing-10-l10-0 var(--d1) cubic-bezier(0, 800, 1, 800) infinite;
}
.__loading-bouncing-10:after {
  content: '';
  width: 100%;
  aspect-ratio: 1 / cos(30deg);
  margin: 0 auto auto;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: var(--c2);
  animation: inherit;
  animation-direction: reverse;
}
@keyframes __loading-bouncing-10-l10-0 {
  0%,
  2% {
    translate: 0 0%;
  }
  98%,
  to {
    translate: 0 -0.2%;
  }
}
@keyframes __loading-bouncing-10-l10-1 {
  to {
    rotate: 1turn;
  }
}
