.__loading-pulsing-10 {
  display: inline-grid;
  font-size: 50px;
}
.__loading-pulsing-10:before,
.__loading-pulsing-10:after {
  content: '💯';
  grid-area: 1/1;
}
.__loading-pulsing-10:after {
  animation: __loading-pulsing-10-l10 1s infinite;
}
@keyframes __loading-pulsing-10-l10 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
