.__loading-progress-11 {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: __loading-progress-11-l11 2s infinite;
}
@keyframes __loading-progress-11-l11 {
  0% {
    background: conic-gradient(#f03355 0, #0000 0);
  }
  12.5% {
    background: conic-gradient(#f03355 45deg, #0000 46deg);
  }
  25% {
    background: conic-gradient(#f03355 90deg, #0000 91deg);
  }
  37.5% {
    background: conic-gradient(#f03355 135deg, #0000 136deg);
  }
  50% {
    background: conic-gradient(#f03355 180deg, #0000 181deg);
  }
  62.5% {
    background: conic-gradient(#f03355 225deg, #0000 226deg);
  }
  75% {
    background: conic-gradient(#f03355 270deg, #0000 271deg);
  }
  87.5% {
    background: conic-gradient(#f03355 315deg, #0000 316deg);
  }
  100% {
    background: conic-gradient(#f03355 360deg, #0000 360deg);
  }
}
