.__loading-spinner-1 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: __loading-spinner-1-l1 1s infinite;
}
@keyframes __loading-spinner-1-l1 {
  to {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-2 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: __loading-spinner-2-l2 1s infinite linear;
}
@keyframes __loading-spinner-2-l2 {
  to {
    transform: rotate(1turn);
  }
}
.__loading-spinner-3 {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: __loading-spinner-3-l3 1s infinite linear;
}
@keyframes __loading-spinner-3-l3 {
  to {
    transform: rotate(1turn);
  }
}
.__loading-spinner-4 {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #f03355) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: __loading-spinner-4-l4 1s infinite steps(10);
}
@keyframes __loading-spinner-4-l4 {
  to {
    transform: rotate(1turn);
  }
}
.__loading-spinner-5 {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: __loading-spinner-5-l5 1s infinite;
}
@keyframes __loading-spinner-5-l5 {
  to {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-6 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background:
    radial-gradient(farthest-side, #ffa516 95%, #0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 5px), #ffa516 calc(100% - 4px)) content-box;
  animation: __loading-spinner-6-l6 2s infinite;
}
@keyframes __loading-spinner-6-l6 {
  to {
    transform: rotate(1turn);
  }
}

.__loading-spinner-7 {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: __loading-spinner-7-l7 1s infinite;
}
@keyframes __loading-spinner-7-l7 {
  to {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-8 {
  width: 50px;
  aspect-ratio: 1;
  color: #f03355;
  --_c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
  background:
    var(--_c) 50% 0 /12px 12px,
    var(--_c) 50% 100%/12px 12px,
    var(--_c) 100% 50%/12px 12px,
    var(--_c) 0 50%/12px 12px,
    var(--_c) 50% 50%/12px 12px,
    conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px / calc(50% + 2px)
      calc(50% + 2px);
  animation: __loading-spinner-8-l8 1s infinite linear;
}
@keyframes __loading-spinner-8-l8 {
  to {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-9 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px 12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
  animation: __loading-spinner-9-l9 2s infinite linear;
}
@keyframes __loading-spinner-9-l9 {
  to {
    transform: rotate(1turn);
  }
}
.__loading-spinner-10 {
  width: 50px;
  aspect-ratio: 1;
  color: #854f1d;
  border-radius: 50%;
  display: grid;
  background:
    conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px / calc(50% + 2px)
      calc(50% + 2px),
    radial-gradient(
        farthest-side,
        currentColor 6px,
        #0000 7px calc(100% - 6px),
        currentColor calc(100% - 5px)
      )
      no-repeat;
  animation: __loading-spinner-10-l10 2s infinite linear;
  position: relative;
}
.__loading-spinner-10:before {
  content: '';
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}
@keyframes __loading-spinner-10-l10 {
  to {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-11 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 6px;
  background:
    conic-gradient(from 135deg at top, currentColor 90deg, #0000 0) 0 calc(50% - 4px) / 17px 8.5px,
    radial-gradient(
        farthest-side at bottom left,
        #0000 calc(100% - 6px),
        currentColor calc(100% - 5px) 99%,
        #0000
      )
      top right/50% 50% content-box content-box,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 6px),
        currentColor calc(100% - 5px) 99%,
        #0000
      )
      bottom / 100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: __loading-spinner-11-l11 1s infinite linear;
}
@keyframes __loading-spinner-11-l11 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-12 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.__loading-spinner-12::before,
.__loading-spinner-12::after {
  content: '';
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: __loading-spinner-12-l12 1s infinite;
}
.__loading-spinner-12::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes __loading-spinner-12-l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-13 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: __loading-spinner-13-l13 1s infinite linear;
}
@keyframes __loading-spinner-13-l13 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-14 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  animation: __loading-spinner-14-l14 4s infinite;
}
.__loading-spinner-14::before,
.__loading-spinner-14::after {
  content: '';
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: red red #0000 #0000;
  mix-blend-mode: darken;
  animation: __loading-spinner-14-l14 1s infinite linear;
}
.__loading-spinner-14::after {
  border-color: #0000 #0000 blue blue;
  animation-direction: reverse;
}
@keyframes __loading-spinner-14-l14 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-15 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: __loading-spinner-15-l15 1s infinite linear;
}
.__loading-spinner-15::before,
.__loading-spinner-15::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: __loading-spinner-15-l15 2s infinite;
}
.__loading-spinner-15::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes __loading-spinner-15-l15 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-16 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: __loading-spinner-16-l16 1s infinite linear;
}
.__loading-spinner-16::before,
.__loading-spinner-16::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.__loading-spinner-16::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.__loading-spinner-16::after {
  margin: 8px;
}
@keyframes __loading-spinner-16-l16 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-17 {
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side, #ffa516 90%, #0000) center/16px 16px,
    radial-gradient(farthest-side, green 90%, #0000) bottom/12px 12px;
  background-repeat: no-repeat;
  animation: __loading-spinner-17-l17 1s infinite linear;
  position: relative;
}
.__loading-spinner-17::before {
  content: '';
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  inset: auto 0 16px;
  margin: auto;
  background: #ccc;
  border-radius: 50%;
  transform-origin: 50% calc(100% + 10px);
  animation: inherit;
  animation-duration: 0.5s;
}
@keyframes __loading-spinner-17-l17 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-18 {
  width: 50px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #514b82 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: __loading-spinner-18-l18 1s infinite;
  position: relative;
}
.__loading-spinner-18::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #514b82 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
@keyframes __loading-spinner-18-l18 {
  100% {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-19 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #854f1d;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6px),
    #0000 calc(100% - 5px) 0
  );
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 13px), #000 calc(100% - 12px));
  border-radius: 50%;
  animation: __loading-spinner-19-l19 2s infinite linear;
}
.__loading-spinner-19::before,
.__loading-spinner-19::after {
  content: '';
  grid-area: 1/1;
  background:
    linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size:
    100% 10px,
    10px 100%;
  background-repeat: no-repeat;
}
.__loading-spinner-19::after {
  transform: rotate(45deg);
}

@keyframes __loading-spinner-19-l19 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-20 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    __loading-spinner-20-l20-1 0.8s infinite linear alternate,
    __loading-spinner-20-l20-2 1.6s infinite linear;
}
@keyframes __loading-spinner-20-l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes __loading-spinner-20-l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.__loading-spinner-21 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(#000 0 90deg, #ccc 0 180deg);
  animation: __loading-spinner-21-l21 1s infinite linear;
}
@keyframes __loading-spinner-21-l21 {
  100% {
    transform: rotate(0.5turn);
  }
}
.__loading-spinner-22 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: conic-gradient(#25b09b 25%, #f03355 0 50%, #514b82 0 75%, #ffa516 0);
  animation: __loading-spinner-22-l22 2s infinite linear;
}
.__loading-spinner-22::before,
.__loading-spinner-22::after {
  content: '';
  grid-area: 1/1;
  margin: 15%;
  border-radius: 50%;
  background: inherit;
  animation: inherit;
}
.__loading-spinner-22::after {
  margin: 25%;
  animation-duration: 3s;
}
@keyframes __loading-spinner-22-l22 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-23 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: __loading-spinner-23-l23 1s infinite steps(12);
}
.__loading-spinner-23::before,
.__loading-spinner-23::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.__loading-spinner-23::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes __loading-spinner-23-l23 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-24 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: __loading-spinner-24-l24 1s infinite linear;
}
.__loading-spinner-24:before,
.__loading-spinner-24:after {
  content: '';
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.__loading-spinner-24:after {
  animation-duration: 4s;
}
@keyframes __loading-spinner-24-l24 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-25 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
  transform-origin: 50% 40%;
  animation: __loading-spinner-25-l25 1s infinite linear;
}
@keyframes __loading-spinner-25-l25 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-26 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: __loading-spinner-26-l26 1s infinite steps(12);
}
.__loading-spinner-26,
.__loading-spinner-26:before,
.__loading-spinner-26:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20% repeat-x;
}
.__loading-spinner-26:before,
.__loading-spinner-26:after {
  content: '';
  grid-area: 1/1;
  transform: rotate(30deg);
}
.__loading-spinner-26:after {
  transform: rotate(60deg);
}

@keyframes __loading-spinner-26-l26 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-27 {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow:
    calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: __loading-spinner-27-l27 1s infinite steps(8);
}
@keyframes __loading-spinner-27-l27 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-28 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #514b82;
  background: conic-gradient(from 90deg at 3px 3px, #0000 90deg, currentColor 0) -3px -3px /
    calc(50% + 1.5px) calc(50% + 1.5px);
  animation: __loading-spinner-28-l28 2s infinite;
}
.__loading-spinner-28::before,
.__loading-spinner-28::after {
  content: '';
  grid-area: 1/1;
  background: repeating-conic-gradient(#0000 0 35deg, currentColor 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
.__loading-spinner-28::after {
  margin: 20%;
}
@keyframes __loading-spinner-28-l28 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-29 {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat linear-gradient(orange 0 0) 50%;
  background:
    var(--_c) / 100% 50%,
    var(--_c) / 50% 100%;
  border-radius: 50%;
  animation: __loading-spinner-29-l29 2s infinite linear;
}
@keyframes __loading-spinner-29-l29 {
  100% {
    transform: rotate(1turn);
  }
}
.__loading-spinner-30 {
  --R: 30px;
  --g1: #514b82 96%, #0000;
  --g2: #eeeeee 96%, #0000;
  width: calc(2 * var(--R));
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  -webkit-mask: linear-gradient(#000 0 0);
  animation: __loading-spinner-30-l30 2s infinite linear;
}
.__loading-spinner-30::before,
.__loading-spinner-30::after {
  content: '';
  grid-area: 1/1;
  width: 50%;
  background:
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(var(--R) + 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) 0 calc(-1 * var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(var(--R) - 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(-1 * var(--R)) 0,
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) + 0.5 * var(--R) - var(--R));
  background-size: calc(2 * var(--R)) calc(2 * var(--R));
  background-repeat: no-repeat;
}
.__loading-spinner-30::after {
  transform: rotate(180deg);
  transform-origin: right;
}

@keyframes __loading-spinner-30-l30 {
  100% {
    transform: rotate(-1turn);
  }
}
