.__loading-spinner-12 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.__loading-spinner-12::before,
.__loading-spinner-12::after {
  content: '';
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: __loading-spinner-12-l12 1s infinite;
}
.__loading-spinner-12::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes __loading-spinner-12-l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
