.__loading-spinner-15 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: __loading-spinner-15-l15 1s infinite linear;
}
.__loading-spinner-15::before,
.__loading-spinner-15::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: __loading-spinner-15-l15 2s infinite;
}
.__loading-spinner-15::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes __loading-spinner-15-l15 {
  100% {
    transform: rotate(1turn);
  }
}
