.__loading-spinner-21 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(#000 0 90deg, #ccc 0 180deg);
  animation: __loading-spinner-21-l21 1s infinite linear;
}
@keyframes __loading-spinner-21-l21 {
  100% {
    transform: rotate(0.5turn);
  }
}
