.__loading-spinner-26 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: __loading-spinner-26-l26 1s infinite steps(12);
}
.__loading-spinner-26,
.__loading-spinner-26:before,
.__loading-spinner-26:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20% repeat-x;
}
.__loading-spinner-26:before,
.__loading-spinner-26:after {
  content: '';
  grid-area: 1/1;
  transform: rotate(30deg);
}
.__loading-spinner-26:after {
  transform: rotate(60deg);
}

@keyframes __loading-spinner-26-l26 {
  100% {
    transform: rotate(1turn);
  }
}
