.__loading-spinner-6 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background:
    radial-gradient(farthest-side, #ffa516 95%, #0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 5px), #ffa516 calc(100% - 4px)) content-box;
  animation: __loading-spinner-6-l6 2s infinite;
}
@keyframes __loading-spinner-6-l6 {
  to {
    transform: rotate(1turn);
  }
}
