.__loading-continuous-10 {
  --s: var(--size, 120px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, var(--d));
  --c1: var(--color-1, #514b82);
  --c2: var(--color-2, #eee);
  --c3: var(--color-3, #000);

  width: var(--s);
  height: 20px;
  background: linear-gradient(var(--c1) 0 0) left -40px top 0/40px 100% no-repeat var(--c2);
  mask: conic-gradient(from 90deg at 5px 5px, #0000 25%, var(--c3) 0) 0 0 / calc((100% - 5px) / 5)
    calc(100% - 5px);
  animation: __loading-continuous-10-l10 var(--d1) infinite linear;
}
@keyframes __loading-continuous-10-l10 {
  100% {
    background-position: right -40px top 0;
  }
}
