.__loading-continuous-7 {
  --s: var(--size, 120px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1));
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #ddd);

  width: var(--s);
  height: 20px;
  mask: linear-gradient(90deg, var(--c1) 70%, #0000 0) left/20% 100%;
  background: linear-gradient(var(--c1) 0 0) left -25% top 0 /20% 100% no-repeat var(--c2);
  animation: __loading-continuous-7-l7 var(--d1) infinite steps(6);
}
@keyframes __loading-continuous-7-l7 {
  100% {
    background-position: right -25% top 0;
  }
}
