.__loading-moving-1 {
  --s: var(--size, 40px);
  --d: var(--duration, 1s);
  --d1:var(--duration-1, calc(var(--d) * 1.5));
  --c1: var(--color-1, #ccc);
  --c: no-repeat linear-gradient(var(--c1) 0 0);

  height: var(--s);
  aspect-ratio: 1.5;
  background: var(--c), var(--c);
  background-size: 66% 50%;
  animation: __loading-moving-1-l1 var(--d1) infinite linear;
}
@keyframes __loading-moving-1-l1 {
  0% {
    background-position:
      0 0,
      0 100%;
  }
  25% {
    background-position:
      100% 0,
      0 100%;
  }
  47%,
  53% {
    background-position:
      100% 0,
      100% 100%;
  }
  75% {
    background-position:
      0 0,
      100% 100%;
  }
  100% {
    background-position:
      0 0,
      0 100%;
  }
}
