.__loading-moving-10 {
  --s: var(--size, 40px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1,  var(--d));
  --d2: var(--duration-2,  calc(var(--d) / 5));
  --c1: var(--color-1, #ccc);
  height: var(--s);
  aspect-ratio: 1.5;
  display: grid;
}
.__loading-moving-10:before,
.__loading-moving-10:after {
  content: '';
  background: var(--c1);
  border-radius: calc(var(--s) * 2) calc(var(--s) * 2) 0 0;
  animation: __loading-moving-10-l10 var(--d1) infinite alternate both;
}
.__loading-moving-10:after {
  transform: scale(-1);
  animation-delay: var(--d2);
}
@keyframes __loading-moving-10-l10 {
  0%,
  10% {
    margin-inline: 0 33%;
  }
  50% {
    margin-inline: 0 0;
  }
  90%,
  100% {
    margin-inline: 33% 0;
  }
}
