.__loading-moving-7 {
  --s: var(--size, 60px);
  --d: var(--duration, 1000ms);
  --d1:var(--duration-1, calc(var(--d) * 3 / 2));
  --c1: var(--color-1, #ccc);

  --c: no-repeat linear-gradient(var(--c1) 0 0);
  height: var(--s);
  aspect-ratio: 1;
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 33.4% 33.4%;
  animation: __loading-moving-7-l7 var(--d1) infinite linear;
}
@keyframes __loading-moving-7-l7 {
  0%,
  5% {
    background-position:
      0 0,
      50% 0,
      0 50%,
      50% 50%;
  }
  25% {
    background-position:
      0 0,
      100% 0,
      0 100%,
      50% 50%;
  }
  50% {
    background-position:
      50% 0,
      100% 0,
      0 100%,
      0 50%;
  }
  75% {
    background-position:
      50% 0,
      100% 50%,
      0 100%,
      0 0;
  }
  95%,
  100% {
    background-position:
      50% 0,
      50% 50%,
      0 50%,
      0 0;
  }
}
