.__loading-shapes-11 {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
}
.__loading-shapes-11::before,
.__loading-shapes-11::after {
  content: '';
  grid-area: 1/1;
  background: #25b09b;
  clip-path: polygon(0 0, 50% 50%, 0 100%);
  animation: __loading-shapes-11-l11 2s infinite;
}
.__loading-shapes-11::after {
  animation-delay: -1.5s;
  --s: 90deg;
}
@keyframes __loading-shapes-11-l11 {
  0%,
  12.5% {
    transform: rotate(var(--s, 0deg)) rotate(0deg);
  }
  37.5%,
  62.5% {
    transform: rotate(var(--s, 0deg)) rotate(-180deg);
  }
  87.5%,
  100% {
    transform: rotate(var(--s, 0deg)) rotate(-360deg);
  }
}
