@scope (.__loading-shapes-15) {
  & {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    transform-origin: 50% 125%;
    animation: l15-0 1.5s infinite linear;
  }
  &:before,
  &:after {
    content: '';
    flex: 1;
    background: orange;
    animation: inherit;
    transform-origin: bottom left;
    animation-name: l15-1;
  }
  &:before {
    transform-origin: bottom right;
    --s: -1;
  }
  @keyframes l15-0 {
    0%,
    10% {
      transform: translateY(0) scaleY(1);
    }
    49.99% {
      transform: translateY(-75%) scaleY(1);
    }
    50% {
      transform: translateY(-75%) scaleY(-1);
    }
    90%,
    100% {
      transform: translateY(-150%) scaleY(-1);
    }
  }
  @keyframes l15-1 {
    10%,
    90% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(calc(var(--s, 1) * 90deg));
    }
  }
}
