.__loading-shapes-19 {
  width: 40px;
  height: 20px;
  background: orange;
  position: relative;
  animation: __loading-shapes-19-l19-0 1.5s infinite linear;
}
.__loading-shapes-19:before,
.__loading-shapes-19:after {
  content: '';
  position: absolute;
  background: inherit;
  bottom: 100%;
  width: 50%;
  height: 100%;
  animation: inherit;
  animation-name: __loading-shapes-19-l19-1;
}
.__loading-shapes-19:before {
  left: 0;
  --s: -1, 1;
}
.__loading-shapes-19:after {
  right: 0;
}
@keyframes __loading-shapes-19-l19-0 {
  0%,
  30% {
    transform: translateY(0) scaleY(1);
  }
  49.99% {
    transform: translateY(-50%) scaleY(1);
  }
  50% {
    transform: translateY(-50%) scaleY(-1);
  }
  70%,
  100% {
    transform: translateY(-100%) scaleY(-1);
  }
}
@keyframes __loading-shapes-19-l19-1 {
  0%,
  10%,
  90%,
  100% {
    transform: scale(var(--s, 1)) translate(0);
  }
  30%,
  70% {
    transform: scale(var(--s, 1)) translate(20px);
  }
  50% {
    transform: scale(var(--s, 1)) translate(20px, 20px);
  }
}
