.__loading-shapes-8 {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  animation: __loading-shapes-8-l8-0 1.5s infinite linear;
}
.__loading-shapes-8:before,
.__loading-shapes-8:after {
  content: '';
  grid-area: 1/1;
  background: #25b09b;
  clip-path: polygon(0 0%, 100% 0, 100% 100%);
  animation: inherit;
  animation-name: __loading-shapes-8-l8-1;
}
.__loading-shapes-8:after {
  --s: -1;
}
@keyframes __loading-shapes-8-l8-0 {
  66% {
    transform: skewX(0deg);
  }
  80%,
  100% {
    transform: skewX(-45deg);
  }
}
@keyframes __loading-shapes-8-l8-1 {
  0% {
    transform: scale(var(--s, 1)) translate(-0.5px, 0);
  }
  33% {
    transform: scale(var(--s, 1)) translate(calc(1px - 50%), calc(1px - 50%));
  }
  66% {
    transform: scale(var(--s, 1)) translate(calc(1px - 50%), 0%);
  }
  100% {
    transform: scale(var(--s, 1)) translate(calc(0.5px - 50%), 0%);
  }
}
