.__loading-infinity-12 {
  width: 90px;
  height: 14px;
  --c: #000 90deg, #0000 0;
  background:
    conic-gradient(from 135deg at top, var(--c)) 0 0,
    conic-gradient(from -45deg at bottom, var(--c)) 0 100%;
  background-size: calc(100% / 4) 50%;
  background-repeat: repeat-x;
  animation: __loading-infinity-12-l12 1s infinite;
}
@keyframes __loading-infinity-12-l12 {
  80%,
  100% {
    background-position:
      calc(100% / 3) 0,
      calc(100% / -3) 100%;
  }
}
