.__loading-infinity-20 {
  width: 60px;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1;
}
.__loading-infinity-20:before,
.__loading-infinity-20:after {
  content: '';
  flex: 1;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px, #000 90deg, #0000 0);
  background: var(--g), var(--g), var(--g);
  filter: drop-shadow(30px 30px 0 #000);
  animation: __loading-infinity-20-l20 1s infinite;
}
.__loading-infinity-20:after {
  transform: scaleX(-1);
}
@keyframes __loading-infinity-20-l20 {
  0% {
    background-position:
      0 0,
      10px 10px,
      20px 20px;
  }
  33% {
    background-position: 10px 10px;
  }
  66% {
    background-position:
      0 20px,
      10px 10px,
      20px 0;
  }
  100% {
    background-position:
      0 0,
      10px 10px,
      20px 20px;
  }
}
