@scope (.__loading-infinity-4) {
  & {
    width: calc(80px / cos(45deg));
    height: 14px;
    --c: #000 0 15px, #0000 0 20px;
    background:
      repeating-linear-gradient(135deg, var(--c)) left top,
      repeating-linear-gradient(45deg, var(--c)) left bottom;
    background-size: 200% 50%;
    background-repeat: no-repeat;
    animation: l4 2s infinite linear;
  }
  @keyframes l4 {
    100% {
      background-position:
        top right,
        bottom right;
    }
  }
}
