.__loading-infinity-7 {
  width: 90px;
  height: 14px;
  color: #000;
  background:
    linear-gradient(90deg, currentColor 50%, #0000 0) repeat-x,
    conic-gradient(from 45deg at right 7px top 50%, currentColor 90deg, #0000 0);
  background-position: calc(100% / 3) 50%;
  background-size:
    calc(100% / 4) 60%,
    calc(100% / 4) 100%;
  animation: __loading-infinity-7-l7 0.5s infinite linear;
}
@keyframes __loading-infinity-7-l7 {
  100% {
    background-position: 0 50%;
  }
}
