.__loading-growing-9 {
  --s: var(--size, 64px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, var(--d));

  height: var(--s);
  aspect-ratio: 1.5;
  display: flex;
  gap: calc(var(--s) / 8);
}
.__loading-growing-9:before,
.__loading-growing-9:after {
  --c1: var(--color-1, #bd1550);
  content: '';
  border: calc(var(--s) / 8) solid var(--c1);
  border-radius: 50%;
  box-sizing: content-box;
  margin: auto;
  aspect-ratio: 1;
  animation: __loading-growing-9-l9 infinite var(--d1) steps(4, jump-none);
}
.__loading-growing-9:after {
  animation-direction: reverse;
}
@keyframes __loading-growing-9-l9 {
  0% {
    width: 0;
  }
  to {
    width: 75%;
  }
}
