.__loading-clones-10 {
  --s: var(--size, 22px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));
  --c1: var(--color-1, #f10c49);
  --c2: var(--color-2, #f4dd51);
  --c3: var(--color-3, #e3aad6);

  width: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--c1);
  animation: __loading-clones-10-l10 var(--d1) infinite linear;
}
@keyframes __loading-clones-10-l10 {
  0% {
    box-shadow:
      0 calc(var(--s) * -1.364) var(--c2),
      calc(var(--s) * 1.364 * 0.707) calc(var(--s) * -1.364 * 0.707) var(--c3),
      calc(var(--s) * 1.364) 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3);
  }
  12.5% {
    box-shadow:
      0 0 var(--c2),
      calc(var(--s) * 1.364 * 0.707) calc(var(--s) * -1.364 * 0.707) var(--c3),
      calc(var(--s) * 1.364) 0 var(--c2),
      calc(var(--s) * 1.364 * 0.707) calc(var(--s) * 1.364 * 0.707) var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3);
  }
  25% {
    box-shadow:
      0 0 var(--c2),
      0 0 var(--c3),
      calc(var(--s) * 1.364) 0 var(--c2),
      calc(var(--s) * 1.364 * 0.707) calc(var(--s) * 1.364 * 0.707) var(--c3),
      0 calc(var(--s) * 1.364) var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3);
  }
  37.5% {
    box-shadow:
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      calc(var(--s) * 1.364 * 0.707) calc(var(--s) * 1.364 * 0.707) var(--c3),
      0 calc(var(--s) * 1.364) var(--c2),
      calc(var(--s) * -1.364 * 0.707) calc(var(--s) * 1.364 * 0.707) var(--c3),
      0 0 var(--c2),
      0 0 var(--c3);
  }
  50% {
    box-shadow:
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 calc(var(--s) * 1.364) var(--c2),
      calc(var(--s) * -1.364 * 0.707) calc(var(--s) * 1.364 * 0.707) var(--c3),
      calc(var(--s) * -1.364) 0 var(--c2),
      0 0 var(--c3);
  }
  62.5% {
    box-shadow:
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      calc(var(--s) * -1.364 * 0.707) calc(var(--s) * 1.364 * 0.707) var(--c3),
      calc(var(--s) * -1.364) 0 var(--c2),
      calc(var(--s) * -1.364 * 0.707) calc(var(--s) * -1.364 * 0.707) var(--c3);
  }
  75% {
    box-shadow:
      0 calc(var(--s) * -1.364) var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      calc(var(--s) * -1.364) 0 var(--c2),
      calc(var(--s) * -1.364 * 0.707) calc(var(--s) * -1.364 * 0.707) var(--c3);
  }
  87.5% {
    box-shadow:
      0 calc(var(--s) * -1.364) var(--c2),
      calc(var(--s) * 1.364 * 0.707) calc(var(--s) * -1.364 * 0.707) var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      calc(var(--s) * -1.364 * 0.707) calc(var(--s) * -1.364 * 0.707) var(--c3);
  }
  100% {
    box-shadow:
      0 calc(var(--s) * -1.364) var(--c2),
      calc(var(--s) * 1.364 * 0.707) calc(var(--s) * -1.364 * 0.707) var(--c3),
      calc(var(--s) * 1.364) 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3),
      0 0 var(--c2),
      0 0 var(--c3);
  }
}
