.__loading-clones-12 {
  --s: var(--size, 40px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 2));
  --d2: var(--duration-2, calc(var(--d) * 3));
  --c1: var(--color-1, #bf1e62);
  --c2: var(--color-2, #ffa588);
  --c3: var(--color-3, #027b7f);

  height: var(--s);
  aspect-ratio: 0.866;
  display: grid;
  background: conic-gradient(from -121deg at right, #0000, var(--c1) 1deg 60deg, #0000 61deg);
  animation: __loading-clones-12-l12 var(--d1) infinite linear;
  transform-origin: 33% 50%;
}
.__loading-clones-12:before,
.__loading-clones-12:after {
  content: '';
  grid-area: 1/1;
  background: conic-gradient(from -121deg at right, #0000, var(--c2) 1deg 60deg, #0000 61deg);
  transform-origin: inherit;
  animation: inherit;
}
.__loading-clones-12:after {
  background: conic-gradient(from -121deg at right, #0000, var(--c3) 1deg 60deg, #0000 61deg);
  animation-duration: var(--d2);
}
@keyframes __loading-clones-12-l12 {
  100% {
    transform: rotate(1turn);
  }
}
