.__loading-bars-22 {
  --s: var(--size, 45px);
  --c1: var(--color-1, #000);
  --d:  var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));

  width: var(--s);
  aspect-ratio: 1;
  --c: no-repeat repeating-linear-gradient(90deg, var(--c1) 0 20%, #0000 0 40%);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 100% calc(var(--s) * 0.26);
  animation: __loading-bars-22-l22 var(--d1) infinite;
}

@keyframes __loading-bars-22-l22 {
  0% {
    background-position:
      0 calc(-1 * var(--s) * 0.44),
      0 calc(-1 * var(--s) * 0.44),
      0 calc(-1 * var(--s) * 0.44),
      0 calc(-1 * var(--s) * 0.44);
  }
  12.5% {
    background-position:
      0 calc(-1 * var(--s) * 0.44),
      0 calc(-1 * var(--s) * 0.44),
      0 calc(-1 * var(--s) * 0.44),
      0 calc(3 * 100% / 3);
  }
  25% {
    background-position:
      0 calc(-1 * var(--s) * 0.44),
      0 calc(-1 * var(--s) * 0.44),
      0 calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  37.5% {
    background-position:
      0 calc(-1 * var(--s) * 0.44),
      0 calc(1 * 100% / 3),
      0 calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  45%,
  50% {
    background-position:
      0 calc(0 * 100% / 3),
      0 calc(1 * 100% / 3),
      0 calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  62.5% {
    background-position:
      0 calc(0 * 100% / 3),
      0 calc(1 * 100% / 3),
      0 calc(2 * 100% / 3),
      0 calc(var(--s) * 1.11);
  }
  75% {
    background-position:
      0 calc(0 * 100% / 3),
      0 calc(1 * 100% / 3),
      0 calc(var(--s) * 1.11),
      0 calc(var(--s) * 1.11);
  }
  87.5% {
    background-position:
      0 calc(0 * 100% / 3),
      0 calc(var(--s) * 1.11),
      0 calc(var(--s) * 1.11),
      0 calc(var(--s) * 1.11);
  }
  100% {
    background-position:
      0 calc(var(--s) * 1.11),
      0 calc(var(--s) * 1.11),
      0 calc(var(--s) * 1.11),
      0 calc(var(--s) * 1.11);
  }
}
