.__loading-bars-8 {
  --s: var(--size, 45px);
  --c1: var(--color-1, #000);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, var(--d));

  width: var(--s);
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(var(--c1) 0 0);
  background:
    var(--c) 0% 100%,
    var(--c) 50% 100%,
    var(--c) 100% 100%;
  background-size: calc(var(--s) * 0.2) calc(var(--s) * 0.65);
  animation: __loading-bars-8-l8 var(--d1) infinite linear;
}
@keyframes __loading-bars-8-l8 {
  16.67% {
    background-position:
      0% 0%,
      50% 100%,
      100% 100%;
  }
  33.33% {
    background-position:
      0% 0%,
      50% 0%,
      100% 100%;
  }
  50% {
    background-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
  66.67% {
    background-position:
      0% 100%,
      50% 0%,
      100% 0%;
  }
  83.33% {
    background-position:
      0% 100%,
      50% 100%,
      100% 0%;
  }
}
