.__loading-bars-9 {
  --s: var(--size, 40px);
  --c1: var(--color-1, #000);

  width: var(--s);
  height: var(--s);
  --c: no-repeat linear-gradient(var(--c1) 0 0);
  background:
    var(--c) 0 0,
    var(--c) 0 100%,
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 0,
    var(--c) 100% 100%;
  background-size: calc(var(--s) * 0.2) 50%;
  animation: __loading-bars-9-l9-0 2s infinite;
  position: relative;
  overflow: hidden;
}
.__loading-bars-9:before {
  content: '';
  position: absolute;
  width: calc(var(--s) * 0.2);
  height: calc(var(--s) * 0.2);
  border-radius: 50%;
  background: var(--c1);
  top: calc(50% - calc(var(--s) * 0.1));
  left: calc(var(--s) * -0.2);
  animation: inherit;
  animation-name: __loading-bars-9-l9-1;
}
@keyframes __loading-bars-9-l9-0 {
  16.67% {
    background-size:
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%;
  }
  33.33% {
    background-size:
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%;
  }
  50% {
    background-size:
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%;
  }
  66.67% {
    background-size:
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 30%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%;
  }
  83.33% {
    background-size:
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%,
      calc(var(--s) * 0.2) 50%;
  }
}
@keyframes __loading-bars-9-l9-1 {
  20% {
    left: 0px;
  }
  40%,
  70% {
    left: calc(50% - calc(var(--s) * 0.1));
  }
  80%,
  85% {
    left: calc(var(--s) * 0.2);
    top: calc(50% - calc(var(--s) * 0.1));
  }
  100% {
    left: calc(var(--s) * 0.2);
    top: calc(var(--s) * -0.2);
  }
}
