.__loading-hypnotic-14 {
  --s: var(--size, 60px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));
  --d2: var(--duration-2, calc(var(--d) * 2));
  --c1: var(--color-1, #000);

  width: var(--s);
  height: calc(var(--s) / 2);
  display: grid;
  --__c: #0000 calc(100% - 5px), var(--c1) calc(100% - 4px) 96%, #0000;
  background:
    radial-gradient(farthest-side at bottom, var(--__c)) 0 0,
    radial-gradient(farthest-side at top, var(--__c)) 100% 100%;
  background-size: calc(50% + calc(var(--s) / 30)) 50%;
  background-repeat: no-repeat;
  animation: __loading-hypnotic-14-l14 var(--d1) infinite linear;
}
.__loading-hypnotic-14:before,
.__loading-hypnotic-14:after {
  content: '';
  grid-area: 1/1;
  background: inherit;
  animation: inherit;
  animation-duration: var(--d2);
}
.__loading-hypnotic-14:after {
  --__z: -1;
}
@keyframes __loading-hypnotic-14-l14 {
  100% {
    transform: rotate(calc(var(--__z, 1) * 1turn));
  }
}
