.__loading-hypnotic-5 {
  --s: var(--size, 50px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 4));
  --d2: var(--duration-2, calc(var(--d) * 2));
  --c1: var(--color-1, #000);

  width: var(--s);
  aspect-ratio: 1.154;
  display: grid;
  color: var(--c1);
  background:
    linear-gradient(
        to bottom left,
        #0000 calc(50% - calc(var(--s) * 0.02)),
        currentColor 0 calc(50% + calc(var(--s) * 0.02)),
        #0000 0
      )
      right/calc(var(--s) * 0.5) 100%,
    linear-gradient(
        to bottom right,
        #0000 calc(50% - calc(var(--s) * 0.02)),
        currentColor 0 calc(50% + calc(var(--s) * 0.02)),
        #0000 0
      )
      left/calc(var(--s) * 0.5) 100%,
    linear-gradient(currentColor 0 0) bottom/100% calc(var(--s) * 0.04);
  background-repeat: no-repeat;
  transform-origin: 50% 66%;
  animation: __loading-hypnotic-5-l5 var(--d1) infinite linear;
}
.__loading-hypnotic-5::before,
.__loading-hypnotic-5::after {
  content: '';
  grid-area: 1/1;
  background: inherit;
  transform-origin: inherit;
  animation: inherit;
}

.__loading-hypnotic-5::after {
  animation-duration: var(--d2);
}

@keyframes __loading-hypnotic-5-l5 {
  100% {
    transform: rotate(1turn);
  }
}
