.__loading-circle-2 {
  width: 100px;
  display: grid;
  background: radial-gradient(farthest-side, #fff 98%, #0000) center/30px 100% no-repeat;
  --mask:
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at center, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: __loading-circle-2-l2 1s infinite alternate;
}
.__loading-circle-2:before,
.__loading-circle-2:after {
  content: '';
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}
.__loading-circle-2:after {
  margin-left: auto;
}
@keyframes __loading-circle-2-l2 {
  to {
    width: 50px;
  }
}
