.__loading-circle-5 {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.__loading-circle-5:before,
.__loading-circle-5:after {
  content: '';
  position: absolute;
  inset: 0 auto auto 0;
  aspect-ratio: 1;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: __loading-circle-5-l5 1s infinite linear alternate;
}
.__loading-circle-5:after {
  inset: auto 0 0 auto;
  animation-delay: -1s;
}
@keyframes __loading-circle-5-l5 {
  0% {
    width: 20px;
  }
  100% {
    width: 50px;
  }
}
