.__loading-circle-6 {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  border-radius: 50%;
  position: relative;
  animation: __loading-circle-6-l6 1.5s linear infinite;
}
.__loading-circle-6:before {
  content: '';
  position: absolute;
  top: 100%;
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
}
@keyframes __loading-circle-6-l6 {
  to {
    transform: rotate(360deg);
  }
}
