.__loading-circle-7 {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  border-radius: 50%;
  position: relative;
}
.__loading-circle-7:before,
.__loading-circle-7:after {
  content: '';
  position: absolute;
  top: 5px;
  left: calc(50% - 12.5px);
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform-origin: 50% calc(100% - 5px);
  animation: __loading-circle-7-l7 1.5s linear infinite;
}
.__loading-circle-7:after {
  top: calc(100% + 2px);
  transform-origin: 50% -27px;
  animation-delay: -0.75s;
}
@keyframes __loading-circle-7-l7 {
  to {
    transform: rotate(360deg);
  }
}
