.__loading-growing-10 {
  height: 64px;
  aspect-ratio: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.__loading-growing-10:before,
.__loading-growing-10:after {
  content: '';
  border: 8px solid #bd1550;
  box-sizing: content-box;
  margin: auto;
  aspect-ratio: 1;
  animation:
    __loading-growing-10-l10-0 infinite 0.5s steps(4, jump-none) alternate,
    __loading-growing-10-l10-1 infinite 2s steps(2, jump-none);
}
.__loading-growing-10:after {
  animation-delay: -0.3s;
}
@keyframes __loading-growing-10-l10-0 {
  0% {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes __loading-growing-10-l10-1 {
  0% {
    border-radius: 0%;
  }
  to {
    border-radius: 100%;
  }
}
