@scope (.__loading-growing-2) {
  & {
    width: 64px;
    aspect-ratio: 1;
    display: grid;
  }
  &:before {
    content: '';
    border: 8px solid #bd1550;
    border-radius: 50%;
    box-sizing: content-box;
    margin: auto;
    aspect-ratio: 1;
    animation: l2 infinite 1s steps(4, jump-none);
  }
  @keyframes l2 {
    0% {
      width: 0%;
    }
    to {
      width: 75%;
    }
  }
}
