.__loading-growing-8 {
  width: 64px;
  aspect-ratio: 1;
  display: grid;
}
.__loading-growing-8:before,
.__loading-growing-8:after {
  content: '';
  grid-area: 1/1;
  border: 8px solid #bd1550;
  box-sizing: content-box;
  margin: auto;
  aspect-ratio: 1;
  animation: __loading-growing-8-l8 infinite 1s steps(4, jump-none);
}
.__loading-growing-8:after {
  animation-delay: -0.5s;
  border-radius: 50%;
}
@keyframes __loading-growing-8-l8 {
  0% {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
