@scope (.__loading-wavy-11) {
  & {
    display: inline-grid;
    padding: 5px;
    background: #fff;
    filter: blur(4px) contrast(12);
  }
  &:before {
    content: '';
    height: 40px;
    aspect-ratio: 3;
    --c: #0000 64%, #000 66% 98%, #0000 101%;
    background:
      radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
      radial-gradient(35% 146% at 50% -59%, var(--c)) 100% 100%;
    background-size: calc(200% / 3) 50%;
    background-repeat: repeat-x;
    animation: l11 0.8s infinite linear;
  }
  @keyframes l11 {
    to {
      background-position:
        -200% 0,
        -100% 100%;
    }
  }
}
