.__loading-wavy-12 {
  display: inline-grid;
  padding: 5px;
  background: #fff;
  filter: blur(4px) contrast(12);
}
.__loading-wavy-12:before {
  content: '';
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%, #000 66% 98%, #0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 100% 100%;
  background-size: calc(200% / 3) 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg, #000 0 10%, #0000 0 20%);
  animation: __loading-wavy-12-l12 0.8s infinite linear;
}
@keyframes __loading-wavy-12-l12 {
  to {
    background-position:
      -200% 0,
      -100% 100%;
  }
}
