@scope (.__loading-wavy-4) {
  & {
    height: 30px;
    aspect-ratio: 6;
    --c: #0000 64%, #000 66% 98%, #0000 101%;
    background:
      radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
      radial-gradient(35% 146% at 50% -59%, var(--c)) 25% 100%;
    background-size: calc(100% / 3) 50%;
    background-repeat: repeat-x;
    clip-path: inset(0 100% 0 0);
    animation:
      l4-0 1s infinite linear,
      l4-1 2s infinite steps(1);
  }
  @keyframes l4-0 {
    to {
      clip-path: inset(0);
    }
  }
  @keyframes l4-1 {
    50% {
      scale: -1 1;
    }
  }
}
