@scope (.__loading-wavy-6) {
  & {
    height: 30px;
    aspect-ratio: 6;
    --c: #0000 64%, #000 66% 98%, #0000 101%;
    background:
      radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
      radial-gradient(35% 146% at 50% -59%, var(--c)) 25% 100%;
    background-size: calc(100% / 3) 50%;
    background-repeat: repeat-x;
    clip-path: inset(0 60% 0 0);
    animation: l6 0.8s infinite linear alternate;
  }
  @keyframes l6 {
    to {
      clip-path: inset(0 0 0 60%);
    }
  }
}
