@scope (.__loading-eyes-5) {
  & {
    display: inline-flex;
    gap: 10px;
  }
  &:before,
  &:after {
    content: '';
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px no-repeat #fff;
    animation: l5 3s infinite;
  }
  @keyframes l5 {
    0%,
    11% {
      background-position: 35% 35%;
    }
    14%,
    36% {
      background-position: 65% 35%;
    }
    38%,
    61% {
      background-position: 65% 65%;
    }
    64%,
    86% {
      background-position: 35% 65%;
    }
    88%,
    100% {
      background-position: 35% 35%;
    }
  }
}
