.__loading-eyes-6 {
  display: inline-flex;
  gap: 10px;
}
.__loading-eyes-6:before,
.__loading-eyes-6:after {
  content: '';
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px no-repeat #fff;
  transform: scaleX(var(--s, 1)) rotate(0deg);
  animation: __loading-eyes-6-l6 1s infinite linear;
}
.__loading-eyes-6:after {
  --s: -1;
  animation-delay: -0.1s;
}
@keyframes __loading-eyes-6-l6 {
  100% {
    transform: scaleX(var(--s, 1)) rotate(360deg);
  }
}
