.__loading-filling-12 {
  --c: var(--content, 'Loading');
  --s: var(--size, 40px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 4));
  --d2: var(--duration-2, calc(var(--d) * 2));
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #0000);

  width: fit-content;
  font-size: var(--s);
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--c2);
  -webkit-text-stroke: 1px var(--c1);
  background: linear-gradient(90deg, var(--c2) 33%, var(--c1) 0 67%, var(--c2) 0) 100%/300% 100% no-repeat text;
  animation: __loading-filling-12-l12 var(--d1) steps(14) infinite;
}
.__loading-filling-12:before {
  content: var(--c);
}
@keyframes __loading-filling-12-l12 {
  to {
    background-position: 0;
  }
}
