.__loading-thin-6 {
  height: 9px;
  width: 60px;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 26% 3px;
  animation: __loading-thin-6-l6 1s infinite;
}
@keyframes __loading-thin-6-l6 {
  0%,
  70%,
  100% {
    background-position:
      calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%;
  }
  23.33% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 0,
      calc(3 * 100% / 3) 100%;
  }
  46.67% {
    background-position:
      calc(1 * 100% / 3) 0,
      calc(0 * 100% / 3) 100%,
      calc(3 * 100% / 3) 0,
      calc(2 * 100% / 3) 100%;
  }
  69.99% {
    background-position:
      calc(1 * 100% / 3) 50%,
      calc(0 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%;
  }
}
