.__loading-3d-12 {
  --s: var(--size, 40px);
  --g: calc(var(--s) / 8);
  --c1: var(--color-1, #fe4365);
  --c2: var(--color-2, #111);
  --d:  var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));

  height: calc(2 * (var(--s) + var(--g)));
  aspect-ratio: 1;
  background:
    radial-gradient(
      calc(var(--s) / sqrt(2)) at calc(50% - 0.1 * var(--s)) calc(50% - 0.2 * var(--s)),
      #0000 5%,
      60%,
      var(--c2) 98%
    ),
    linear-gradient(var(--c1) 0 0) no-repeat #fff;
  background-size: 50% 50%;
  mask: radial-gradient(calc(var(--s) / 2), #000 calc(100% - calc(var(--s) / 40)), #0000) 0 0/50% 50%;
  animation: __loading-3d-12-l12 steps(3) var(--d1) infinite;
}
@keyframes __loading-3d-12-l12 {
  0%,
  12.5% {
    background-position: 0 0;
  }
  12.6%,
  37.5% {
    background-position:
      0 0,
      100% 0;
  }
  37.6%,
  62.5% {
    background-position:
      0 0,
      100% 100%;
  }
  62.6%,
  87.5% {
    background-position:
      0 0,
      0 100%;
  }
  87.6%,
  100% {
    background-position: 0 0;
  }
}
