.__loading-3d-4 {
  --s: var(--size, 25px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, #666);
  --c3: var(--color-3, #aaa);
  --d:  var(--duration, 1200ms); /* 基础持续时间 */
  --d1: var(--duration-1, var(--d));
  --d2: var(--duration-2, calc(var(--d) / 2));

  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}
.__loading-3d-4:before,
.__loading-3d-4:after {
  content: '';
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(from -90deg at var(--s) var(--_d), var(--c1) 135deg, var(--c2) 0 270deg, var(--c3) 0);
  animation: __loading-3d-4-l4 var(--d1) infinite;
}
.__loading-3d-4:before {
  z-index: 1;
  margin-bottom: calc(var(--_d) / -2 - 1px);
}
.__loading-3d-4:after {
  margin-top: calc(var(--_d) / -2 - 1px);
  animation-delay: var(--d2);
}
@keyframes __loading-3d-4-l4 {
  0% {
    transform: translate(0);
  }
  16.67% {
    transform: translate(calc(-0.4 * var(--s)));
  }
  33.33% {
    transform: translate(calc(0.4 * var(--s)));
  }
  50%,
  100% {
    transform: translate(0);
  }
}
