.__loading-glowing-11 {
  height: 80px;
  aspect-ratio: 1;
  box-sizing: border-box;
  position: relative;
  mask:
    radial-gradient(#0000 47%, #000 48% 71%, #0000 72%) exclude,
    conic-gradient(#000 0 0) no-clip;
  animation: __loading-glowing-11-l11 1.5s linear infinite;
}
.__loading-glowing-11:before {
  content: '';
  position: absolute;
  inset: 0 35% 70%;
  border-radius: 50%;
  background: #000;
  filter: blur(15px);
}
@keyframes __loading-glowing-11-l11 {
  to {
    rotate: 1turn;
  }
}
