.__loading-glowing-12 {
  --s: -100px;
  height: 80px;
  aspect-ratio: 1;
  position: relative;
  clip-path: polygon(
    evenodd,
    var(--s) var(--s),
    calc(100% - var(--s)) var(--s),
    calc(100% - var(--s)) calc(100% - var(--s)),
    var(--s) calc(100% - var(--s)),
    var(--s) var(--s),
    100% 50%,
    85.36% 85.36%,
    50% 100%,
    14.64% 85.36%,
    0% 50%,
    14.64% 14.64%,
    50% 0%,
    85.36% 14.64%,
    100% 50%,
    74.75% 25.25%,
    50% 15%,
    25.25% 25.25%,
    15% 50%,
    25.25% 74.75%,
    50% 85%,
    74.75% 74.75%,
    85% 50%,
    74.75% 25.25%,
    100% 50%
  );
}
.__loading-glowing-12:before {
  content: '';
  position: absolute;
  inset: 0 35% 70%;
  border-radius: 50%;
  background: #000;
  filter: blur(15px);
  transform-origin: 50% 165%;
  animation: __loading-glowing-12-l12 1.5s linear infinite;
}
@keyframes __loading-glowing-12-l12 {
  to {
    rotate: 1turn;
  }
}
