.__loading-glowing-5 {
  --b: 25%;
  height: 80px;
  aspect-ratio: 1 / cos(30deg);
  position: relative;
  clip-path: polygon(
    50% 0,
    100% 100%,
    0 100%,
    50% 0,
    50% var(--b),
    calc(var(--b) * cos(30deg)) calc(100% - var(--b) / 2),
    calc(100% - var(--b) * cos(30deg)) calc(100% - var(--b) / 2),
    50% var(--b)
  );
  filter: blur(12px);
}
.__loading-glowing-5:before {
  content: '';
  position: absolute;
  inset: -8% 0;
  background: conic-gradient(#0000 35%, #0b486b, #0000 65%);
  animation: __loading-glowing-5-l5 2s linear infinite;
}
@keyframes __loading-glowing-5-l5 {
  to {
    rotate: 1turn;
  }
}
