.__loading-classic-2 {
  --c: var(--content, Loading);
  --s: var(--size, fit-content);
  --c1: var(--color-1, currentColor);
  --d1: var(--duration-1, 2s);

  width: var(--s);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(var(--c1) 0 0) 0 100%/0% 3px no-repeat;
  animation: __loading-classic-2-l2 var(--d1) linear infinite;
}

.__loading-classic-2:before {
  content: var(--c);
}

@keyframes __loading-classic-2-l2 {
  to {
    background-size: 100% 3px;
  }
}
