.__loading-classic-21 {
  --c: var(--content, Loading);
  --s: var(--size, fit-content);
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #fff);
  --d1: var(--duration-1, 2s);

  width: var(--s);
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(90deg, var(--c1) 50%, transparent 0) right/200% 100%;
  animation: __loading-classic-21-l21 var(--d1) infinite linear;
}

.__loading-classic-21::before {
  content: var(--c);
  color: transparent;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, var(--c2) 50%, var(--c1) 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes __loading-classic-21-l21 {
  100% {
    background-position: left;
  }
}
