.__loading-classic-30 {
  --c: var(--content, Loading);
  --s: var(--size, 30px);
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #0000);
  --d1: var(--duration-1, 2s);

  font-weight: bold;
  font-family: monospace;
  font-size: var(--s);
  display: inline-grid;
}

.__loading-classic-30:before,
.__loading-classic-30:after {
  content: var(--c, 'Loading...');
  grid-area: 1/1;
  line-height: 1em;
  -webkit-mask: linear-gradient(90deg, var(--c1) 50%, var(--c2) 0) 0 50%/2ch 100%;
  -webkit-mask-position: calc(var(--s, 0) * 1ch) 50%;
  animation: __loading-classic-30-l30 var(--d1) infinite;
}

.__loading-classic-30:after {
  --s: -1;
}

@keyframes __loading-classic-30-l30 {
  33% {
    transform: translateY(calc(var(--s, 1) * 50%));
    -webkit-mask-position: calc(var(--s, 0) * 1ch) 50%;
  }
  66% {
    transform: translateY(calc(var(--s, 1) * 50%));
    -webkit-mask-position: calc(var(--s, 0) * 1ch + 1ch) 50%;
  }
  100% {
    transform: translateY(calc(var(--s, 1) * 0%));
    -webkit-mask-position: calc(var(--s, 0) * 1ch + 1ch) 50%;
  }
}
