.__loading-classic-37 {
  --c: var(--content, Loading);
  --s: var(--size, 30px);
  --c1: var(--color-1, #000);
  --d1: var(--duration-1, 1s);

  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: var(--s);
}

.__loading-classic-37:before,
.__loading-classic-37:after {
  content: var(--c);
  grid-area: 1/1;
  -webkit-mask-size:
    2ch 100%,
    100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: __loading-classic-37-l37 var(--d1) infinite;
}

.__loading-classic-37:before {
  -webkit-mask-image: linear-gradient(var(--c1) 0 0), linear-gradient(var(--c1) 0 0);
}

.__loading-classic-37:after {
  -webkit-mask-image: linear-gradient(var(--c1) 0 0);
  transform: scaleY(0.5);
}

@keyframes __loading-classic-37-l37 {
  0% {
    -webkit-mask-position:
      1ch 0,
      0 0;
  }
  12.5% {
    -webkit-mask-position:
      100% 0,
      0 0;
  }
  25% {
    -webkit-mask-position:
      4ch 0,
      0 0;
  }
  37.5% {
    -webkit-mask-position:
      8ch 0,
      0 0;
  }
  50% {
    -webkit-mask-position:
      2ch 0,
      0 0;
  }
  62.5% {
    -webkit-mask-position:
      100% 0,
      0 0;
  }
  75% {
    -webkit-mask-position:
      0ch 0,
      0 0;
  }
  87.5% {
    -webkit-mask-position:
      6ch 0,
      0 0;
  }
  100% {
    -webkit-mask-position:
      3ch 0,
      0 0;
  }
}
