.__loading-classic-4 {
  --c: var(--content, Loading);
  --s: var(--size, 30px);
  --c1: var(--color-1, currentColor);
  --d1: var(--duration-1, 1s);

  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: var(--s);
  color: var(--c1);
  clip-path: inset(0 3ch 0 0);
  animation: __loading-classic-4-l4 var(--d1) steps(4) infinite;
}

.__loading-classic-4:before {
  content: var(--c, Loading);
}

@keyframes __loading-classic-4-l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
