.__loading-classic-6 {
  --c: var(--content, Loading);
  --s: var(--size, 11ch);
  --c1: var(--color-1, #000);
  --d1: var(--duration-1, 2s);

  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  overflow: hidden;
  text-shadow:
    0 0 var(--c1),
    var(--s) 0 var(--c1);
  animation: __loading-classic-6-l6 var(--d1) infinite linear;
}
.__loading-classic-6:before {
  content: var(--c);
}
@keyframes __loading-classic-6-l6 {
  to {
    text-shadow:
      calc(-1 * var(--s)) 0 var(--c1),
      0ch 0 var(--c1);
  }
}
