.__loading-arcade-3 {
  --s: var(--size, 80px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, #000);
  --d: var(--duration, 2000ms);
  --d1: var(--duration-1, var(--d));

  width: var(--s);
  height: calc(var(--s) * 0.875);
  border: calc(var(--s) * 0.0625) solid var(--c2);
  padding: 0 calc(var(--s) * 0.1);
  box-sizing: border-box;
  background:
    linear-gradient(var(--c1) 0 0) 0 0/calc(var(--s) * 0.1) calc(var(--s) * 0.25),
    linear-gradient(var(--c1) 0 0) 100% 0/calc(var(--s) * 0.1) calc(var(--s) * 0.25),
    radial-gradient(farthest-side, var(--c1) 90%, #0000) 0 calc(var(--s) * 0.0625)/calc(var(--s) * 0.1) calc(var(--s) * 0.1) content-box,
    var(--c2);
  background-repeat: no-repeat;
  animation: __loading-arcade-3-l3 var(--d1) infinite linear;
}
@keyframes __loading-arcade-3-l3 {
  25% {
    background-position:
      0 0,
      100% 100%,
      100% calc(100% - calc(var(--s) * 0.0625));
  }
  50% {
    background-position:
      0 100%,
      100% 100%,
      0 calc(100% - calc(var(--s) * 0.0625));
  }
  75% {
    background-position:
      0 100%,
      100% 0,
      100% calc(var(--s) * 0.0625);
  }
}
