.__loading-arcade-6 {
  --s: var(--size, 80px);
  --c1: var(--color-1, #fff);
  --c2: var(--color-2, red);
  --c3: var(--color-3, #000);
  --c4: var(--color-4, lightblue);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, var(--d));
  --d2: var(--duration-2, calc(var(--d) * 2));

  width: var(--s);
  height: calc(var(--s) * 0.75);
  box-sizing: border-box;
  background:
    linear-gradient(var(--c1) 0 0) left / calc(50% - calc(var(--s) * 0.1875)) calc(var(--s) * 0.1) no-repeat,
    linear-gradient(var(--c1) 0 0) right/calc(50% - calc(var(--s) * 0.1875)) calc(var(--s) * 0.1) no-repeat,
    conic-gradient(from 135deg at top, #0000, var(--c2) 1deg 90deg, #0000 91deg) bottom/calc(var(--s) * 0.175) calc(var(--s) * 0.1) repeat-x,
    var(--c3);
  border-bottom: calc(var(--s) * 0.025) solid var(--c2);
  position: relative;
  overflow: hidden;
  animation: __loading-arcade-6-l6-0 var(--d1) infinite linear;
}
.__loading-arcade-6::before {
  content: '';
  position: absolute;
  width: calc(var(--s) * 0.125);
  height: calc(var(--s) * 0.175);
  background: var(--c4);
  left: calc(var(--s) * -0.0625);
  animation:
    __loading-arcade-6-l6-1 var(--d2) infinite cubic-bezier(0, 100, 1, 100),
    __loading-arcade-6-l6-2 var(--d2) infinite linear;
}
@keyframes __loading-arcade-6-l6-0 {
  50% {
    background-position:
      left,
      right,
      bottom calc(var(--s) * -0.025) left calc(var(--s) * -0.05);
  }
}
@keyframes __loading-arcade-6-l6-1 {
  0%,
  27% {
    bottom: calc(50% + calc(var(--s) * 0.05));
  }
  65%,
  100% {
    bottom: calc(50% + calc(var(--s) * 0.05125));
  }
}
@keyframes __loading-arcade-6-l6-2 {
  100% {
    left: 100%;
  }
}
