@scope (.__loading-polygons-1) {
  & {
    display: inline-grid;
    width: 90px;
    aspect-ratio: 1;
    clip-path: polygon(
      100% 50%,
      85.36% 85.36%,
      50% 100%,
      14.64% 85.36%,
      0% 50%,
      14.64% 14.64%,
      50% 0%,
      85.36% 14.64%
    );
    background: #574951;
    animation: l1 6s infinite linear;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
    background: #83988e;
    clip-path: inherit;
    margin: 10%;
    animation: inherit;
    animation-duration: 12s;
  }
  &:after {
    background: #bcdea5;
    margin: 20%;
    animation-duration: 18s;
  }
  @keyframes l1 {
    to {
      rotate: 1turn;
    }
  }
}
@scope (.__loading-polygons-2) {
  & {
    display: inline-grid;
    width: 90px;
    aspect-ratio: 1;
    clip-path: polygon(
      100% 50%,
      85.36% 85.36%,
      50% 100%,
      14.64% 85.36%,
      0% 50%,
      14.64% 14.64%,
      50% 0%,
      85.36% 14.64%
    );
    background: #574951;
    animation: l2 6s infinite linear;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
    background: #83988e;
    clip-path: polygon(
      100% 50%,
      81.17% 89.09%,
      38.87% 98.75%,
      4.95% 71.69%,
      4.95% 28.31%,
      38.87% 1.25%,
      81.17% 10.91%
    );
    margin: 10%;
    animation: inherit;
    animation-duration: 10s;
  }
  &:after {
    background: #bcdea5;
    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
    margin: 20%;
    animation-duration: 3s;
    animation-direction: reverse;
  }
  @keyframes l2 {
    to {
      rotate: 1turn;
    }
  }
}
@scope (.__loading-polygons-3) {
  & {
    display: inline-grid;
    width: 90px;
    aspect-ratio: 1;
    animation: l3-0 5s steps(10) infinite;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
  }
  &:before {
    clip-path: polygon(
      100% 50%,
      90.45% 79.39%,
      65.45% 97.55%,
      34.55% 97.55%,
      9.55% 79.39%,
      0% 50%,
      9.55% 20.61%,
      34.55% 2.45%,
      65.45% 2.45%,
      90.45% 20.61%,
      100% 50%,
      85.6% 24.14%,
      63.6% 8.15%,
      36.4% 8.15%,
      14.4% 24.14%,
      6% 50%,
      14.4% 75.86%,
      36.4% 91.85%,
      63.6% 91.85%,
      85.6% 75.86%,
      94% 50%,
      85.6% 24.14%
    );
    background: #574951;
  }
  &:after {
    background: #83988e;
    clip-path: polygon(100% 50%, 65.45% 97.55%, 9.55% 79.39%, 9.55% 20.61%, 65.45% 2.45%);
    margin: 27%;
    translate: 46% 0;
    transform-origin: right;
    animation: l3-1 0.5s linear infinite;
  }
  @keyframes l3-0 {
    to {
      rotate: 1turn;
    }
  }
  @keyframes l3-1 {
    0% {
      rotate: 18deg;
    }
    to {
      rotate: -18deg;
    }
  }
}
@scope (.__loading-polygons-4) {
  & {
    display: inline-grid;
    width: 90px;
    aspect-ratio: 1;
    transform: rotate(90deg);
    animation: l4 1s linear infinite;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
  }
  &:before {
    clip-path: polygon(
      100% 50%,
      90.45% 79.39%,
      65.45% 97.55%,
      34.55% 97.55%,
      9.55% 79.39%,
      0% 50%,
      9.55% 20.61%,
      34.55% 2.45%,
      65.45% 2.45%,
      90.45% 20.61%,
      100% 50%,
      85.6% 24.14%,
      63.6% 8.15%,
      36.4% 8.15%,
      14.4% 24.14%,
      6% 50%,
      14.4% 75.86%,
      36.4% 91.85%,
      63.6% 91.85%,
      85.6% 75.86%,
      94% 50%,
      85.6% 24.14%
    );
    background: #574951;
  }
  &:after {
    background: #83988e;
    clip-path: polygon(100% 50%, 65.45% 97.55%, 9.55% 79.39%, 9.55% 20.61%, 65.45% 2.45%);
    margin: 27%;
    translate: 46% 0;
    transform-origin: right;
    animation: inherit;
  }
  @keyframes l4 {
    0% {
      rotate: 18deg;
    }
    to {
      rotate: -18deg;
    }
  }
}
@scope (.__loading-polygons-5) {
  & {
    display: inline-grid;
    width: 70px;
    aspect-ratio: 1;
    animation: l5-0 8s steps(10) infinite;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
  }
  &:before {
    clip-path: polygon(
      100% 50%,
      90.45% 79.39%,
      65.45% 97.55%,
      34.55% 97.55%,
      9.55% 79.39%,
      0% 50%,
      9.55% 20.61%,
      34.55% 2.45%,
      65.45% 2.45%,
      90.45% 20.61%,
      100% 50%,
      85.6% 24.14%,
      63.6% 8.15%,
      36.4% 8.15%,
      14.4% 24.14%,
      6% 50%,
      14.4% 75.86%,
      36.4% 91.85%,
      63.6% 91.85%,
      85.6% 75.86%,
      94% 50%,
      85.6% 24.14%
    );
    background: #574951;
  }
  &:after {
    background: #83988e;
    clip-path: polygon(100% 50%, 65.45% 97.55%, 9.55% 79.39%, 9.55% 20.61%, 65.45% 2.45%);
    margin: 23%;
    translate: -143% 0;
    transform-origin: right;
    animation: l5-1 0.8s linear infinite;
  }
  @keyframes l5-0 {
    to {
      rotate: 1turn;
    }
  }
  @keyframes l5-1 {
    0% {
      rotate: -54deg;
    }
    to {
      rotate: 54deg;
    }
  }
}
@scope (.__loading-polygons-6) {
  & {
    display: inline-grid;
    width: 70px;
    aspect-ratio: 1;
    animation: l6-0 0.8s linear infinite;
    transform: rotate(90deg);
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
  }
  &:before {
    clip-path: polygon(
      100% 50%,
      90.45% 79.39%,
      65.45% 97.55%,
      34.55% 97.55%,
      9.55% 79.39%,
      0% 50%,
      9.55% 20.61%,
      34.55% 2.45%,
      65.45% 2.45%,
      90.45% 20.61%,
      100% 50%,
      85.6% 24.14%,
      63.6% 8.15%,
      36.4% 8.15%,
      14.4% 24.14%,
      6% 50%,
      14.4% 75.86%,
      36.4% 91.85%,
      63.6% 91.85%,
      85.6% 75.86%,
      94% 50%,
      85.6% 24.14%
    );
    background: #574951;
  }
  &:after {
    background: #83988e;
    clip-path: polygon(100% 50%, 65.45% 97.55%, 9.55% 79.39%, 9.55% 20.61%, 65.45% 2.45%);
    margin: 23%;
    translate: -143% 0;
    transform-origin: right;
    animation: inherit;
    animation-name: l6-1;
  }
  @keyframes l6-0 {
    0% {
      rotate: 18deg;
    }
    to {
      rotate: -18deg;
    }
  }
  @keyframes l6-1 {
    0% {
      rotate: -54deg;
    }
    to {
      rotate: 54deg;
    }
  }
}
@scope (.__loading-polygons-7) {
  & {
    display: inline-grid;
    width: 80px;
    aspect-ratio: 2;
    box-shadow: 0 5px #574951;
    overflow: hidden;
  }
  &:before {
    content: '';
    margin: 0 25%;
    background: #83988e;
    clip-path: polygon(97.55% 65.45%, 50% 100%, 2.45% 65.45%, 20.61% 9.55%, 79.39% 9.55%);
    transform-origin: bottom;
    animation:
      l7-0 0.5s linear infinite,
      l7-1 3s steps(6) infinite;
  }
  @keyframes l7-0 {
    0% {
      rotate: -36deg;
    }
    to {
      rotate: 36deg;
    }
  }
  @keyframes l7-1 {
    0% {
      translate: -174% 0;
    }
    to {
      translate: 174% 0;
    }
  }
}
@scope (.__loading-polygons-8) {
  & {
    display: inline-grid;
    width: 80px;
    aspect-ratio: 2;
    box-shadow: 0 5px #574951;
    overflow: hidden;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
    margin: 0 25%;
    background: #83988e;
    clip-path: polygon(97.55% 65.45%, 50% 100%, 2.45% 65.45%, 20.61% 9.55%, 79.39% 9.55%);
    transform-origin: bottom;
    animation:
      l8-0 0.5s linear infinite,
      l8-1 4s steps(8) infinite;
  }
  &:after {
    animation-direction: reverse;
    animation-delay:
      0s,
      -1.5s;
  }
  @keyframes l8-0 {
    0% {
      rotate: -36deg;
    }
    to {
      rotate: 36deg;
    }
  }
  @keyframes l8-1 {
    0% {
      translate: -232% 0;
    }
    to {
      translate: 232% 0;
    }
  }
}
@scope (.__loading-polygons-9) {
  & {
    display: inline-flex;
    width: 90px;
    aspect-ratio: 2;
    animation: l9-0 1s linear infinite;
  }
  &:before,
  &:after {
    content: '';
    flex: 1;
    background: #83988e;
    clip-path: polygon(
      100% 50%,
      81.17% 89.09%,
      38.87% 98.75%,
      4.95% 71.69%,
      4.95% 28.31%,
      38.87% 1.25%,
      81.17% 10.91%
    );
    animation: l9-1 1s linear infinite;
    transform-origin: right;
  }
  &:after {
    scale: -1 1;
    translate: -100% 0;
    animation-direction: reverse;
  }
  @keyframes l9-0 {
    0% {
      translate: 0 -21.5%;
    }
    to {
      translate: 0 21.5%;
    }
  }
  @keyframes l9-1 {
    0% {
      rotate: -25.7deg;
    }
    to {
      rotate: 25.7deg;
    }
  }
}
@scope (.__loading-polygons-10) {
  & {
    display: inline-flex;
    width: 90px;
    aspect-ratio: 2;
    animation: l10-0 1s linear infinite;
  }
  &:before,
  &:after {
    content: '';
    flex: 1;
    background: #574951;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    animation: l10-1 1s linear infinite;
    transform-origin: right;
  }
  &:after {
    scale: -1 1;
    translate: -100% 0;
    animation-direction: reverse;
  }
  @keyframes l10-0 {
    0% {
      translate: 0 -35.35%;
    }
    to {
      translate: 0 35.35%;
    }
  }
  @keyframes l10-1 {
    0% {
      rotate: -45deg;
    }
    to {
      rotate: 45deg;
    }
  }
}
@scope (.__loading-polygons-11) {
  & {
    display: inline-flex;
    width: 90px;
    aspect-ratio: 2;
    animation: l11-0 1s linear infinite;
  }
  &:before,
  &:after {
    content: '';
    flex: 1;
    background: #574951;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    animation: l11-1 1s linear infinite;
    transform-origin: right;
  }
  &:after {
    scale: -1.6 1.6;
    translate: -100% 0;
    background: #83988e;
    clip-path: polygon(
      100% 50%,
      81.17% 89.09%,
      38.87% 98.75%,
      4.95% 71.69%,
      4.95% 28.31%,
      38.87% 1.25%,
      81.17% 10.91%
    );
    animation: l11-2 1s linear infinite;
  }
  @keyframes l11-0 {
    0% {
      translate: 0 -35.35%;
    }
    to {
      translate: 0 35.35%;
    }
  }
  @keyframes l11-1 {
    0% {
      rotate: -45deg;
    }
    to {
      rotate: 45deg;
    }
  }
  @keyframes l11-2 {
    0% {
      rotate: 25.7deg;
    }
    to {
      rotate: -25.7deg;
    }
  }
}
@scope (.__loading-polygons-12) {
  & {
    display: inline-grid;
    width: 30px;
    aspect-ratio: 1;
    background: #574951;
    animation:
      l12-0 4s steps(4) infinite,
      l12-1 6s linear infinite;
  }
  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
    background: #83988e;
    clip-path: polygon(100% 50%, 65.45% 97.55%, 9.55% 79.39%, 9.55% 20.61%, 65.45% 2.45%);
    transform-origin: right;
    translate: -100% 50%;
    scale: 1.7;
    animation: l12-2 1s linear infinite;
  }
  &:after {
    clip-path: polygon(90.45% 79.39%, 34.55% 97.55%, 0% 50%, 34.55% 2.45%, 90.45% 20.61%);
    transform-origin: left;
    translate: 100% -50%;
  }
  @keyframes l12-0 {
    to {
      rotate: 1turn;
    }
  }
  @keyframes l12-1 {
    to {
      transform: rotate(1turn);
    }
  }
  @keyframes l12-2 {
    0% {
      rotate: 36deg;
    }
    to {
      rotate: -126deg;
    }
  }
}
