.__loading-polygons-4 {
  display: inline-grid;
  width: 90px;
  aspect-ratio: 1;
  transform: rotate(90deg);
  animation: __loading-polygons-4-l4 1s linear infinite;
}
.__loading-polygons-4:before,
.__loading-polygons-4:after {
  content: '';
  grid-area: 1/1;
}
.__loading-polygons-4:before {
  clip-path: polygon(
    100% 50%,
    90.45% 79.39%,
    65.45% 97.55%,
    34.55% 97.55%,
    9.55% 79.39%,
    0% 50%,
    9.55% 20.61%,
    34.55% 2.45%,
    65.45% 2.45%,
    90.45% 20.61%,
    100% 50%,
    85.6% 24.14%,
    63.6% 8.15%,
    36.4% 8.15%,
    14.4% 24.14%,
    6% 50%,
    14.4% 75.86%,
    36.4% 91.85%,
    63.6% 91.85%,
    85.6% 75.86%,
    94% 50%,
    85.6% 24.14%
  );
  background: #574951;
}
.__loading-polygons-4:after {
  background: #83988e;
  clip-path: polygon(100% 50%, 65.45% 97.55%, 9.55% 79.39%, 9.55% 20.61%, 65.45% 2.45%);
  margin: 27%;
  translate: 46% 0;
  transform-origin: right;
  animation: inherit;
}
@keyframes __loading-polygons-4-l4 {
  0% {
    rotate: 18deg;
  }
  to {
    rotate: -18deg;
  }
}
