.__loading-polygons-8 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 2;
  box-shadow: 0 5px #574951;
  overflow: hidden;
}
.__loading-polygons-8:before,
.__loading-polygons-8:after {
  content: '';
  grid-area: 1/1;
  margin: 0 25%;
  background: #83988e;
  clip-path: polygon(97.55% 65.45%, 50% 100%, 2.45% 65.45%, 20.61% 9.55%, 79.39% 9.55%);
  transform-origin: bottom;
  animation:
    __loading-polygons-8-l8-0 0.5s linear infinite,
    __loading-polygons-8-l8-1 4s steps(8) infinite;
}
.__loading-polygons-8:after {
  animation-direction: reverse;
  animation-delay:
    0s,
    -1.5s;
}
@keyframes __loading-polygons-8-l8-0 {
  0% {
    rotate: -36deg;
  }
  to {
    rotate: 36deg;
  }
}
@keyframes __loading-polygons-8-l8-1 {
  0% {
    translate: -232% 0;
  }
  to {
    translate: 232% 0;
  }
}
