.__loading-polygons-9 {
  display: inline-flex;
  width: 90px;
  aspect-ratio: 2;
  animation: __loading-polygons-9-l9-0 1s linear infinite;
}
.__loading-polygons-9:before,
.__loading-polygons-9:after {
  content: '';
  flex: 1;
  background: #83988e;
  clip-path: polygon(
    100% 50%,
    81.17% 89.09%,
    38.87% 98.75%,
    4.95% 71.69%,
    4.95% 28.31%,
    38.87% 1.25%,
    81.17% 10.91%
  );
  animation: __loading-polygons-9-l9-1 1s linear infinite;
  transform-origin: right;
}
.__loading-polygons-9:after {
  scale: -1 1;
  translate: -100% 0;
  animation-direction: reverse;
}
@keyframes __loading-polygons-9-l9-0 {
  0% {
    translate: 0 -21.5%;
  }
  to {
    translate: 0 21.5%;
  }
}
@keyframes __loading-polygons-9-l9-1 {
  0% {
    rotate: -25.7deg;
  }
  to {
    rotate: 25.7deg;
  }
}
