.__loading-colorful-16 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#cc333f 0 0), linear-gradient(#cc333f 0 0), linear-gradient(#cc333f 0 0),
    linear-gradient(#cc333f 0 0), linear-gradient(#00a0b0 0 0), linear-gradient(#00a0b0 0 0),
    linear-gradient(#00a0b0 0 0), linear-gradient(#00a0b0 0 0), #cc333f;
  background-position:
    0 0,
    100% 0,
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  animation: __loading-colorful-16-l16 2s infinite;
}
@keyframes __loading-colorful-16-l16 {
  0% {
    background-size:
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0;
  }
  12.5% {
    background-size:
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      51% 51%;
  }
  25% {
    background-size:
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      51% 51%,
      51% 51%;
  }
  37.5% {
    background-size:
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      51% 51%,
      51% 51%,
      51% 51%;
  }
  50% {
    background-size:
      0 0,
      0 0,
      0 0,
      0 0,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%;
  }
  62.5% {
    background-size:
      0 0,
      0 0,
      0 0,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%;
  }
  75% {
    background-size:
      0 0,
      0 0,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%;
  }
  87.5% {
    background-size:
      0 0,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%;
  }
  100% {
    background-size:
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%,
      51% 51%;
  }
}
