.__loading-colorful-20 {
  width: 70px;
  aspect-ratio: 1;
  background: conic-gradient(
    from -45deg,
    #8a8780 90deg,
    #94ba65 0 180deg,
    #2790b0 0 270deg,
    #2b4e72 0
  );
  animation: __loading-colorful-20-l20 2s infinite;
}
@keyframes __loading-colorful-20-l20 {
  0% {
    clip-path: polygon(0 0, 100% 0, 50% 50%);
  }
  25% {
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
  }
  50% {
    clip-path: polygon(100% 100%, 0 100%, 50% 50%);
  }
  75% {
    clip-path: polygon(0 100%, 0 0, 50% 50%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 50% 50%);
  }
}
