.__loading-dots-17 {
  --s: var(--size, 60px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1));
  --c1: var(--color-1, #000);
  --_g: no-repeat radial-gradient(farthest-side, var(--c1) 90%, #0000);

  width: var(--s);
  aspect-ratio: 1;
  background: var(--_g), var(--_g), var(--_g);
  background-size: 25% 25%;
  animation: __loading-dots-17-l17 var(--d1) infinite;
}
@keyframes __loading-dots-17-l17 {
  0% {
    background-position:
      0% -100%,
      50% -100%,
      100% -100%;
  }
  16.67% {
    background-position:
      0% 50%,
      50% -100%,
      100% -100%;
  }
  33.33% {
    background-position:
      0% 50%,
      50% 50%,
      100% -100%;
  }
  45%,
  55% {
    background-position:
      0% 50%,
      50% 50%,
      100% 50%;
  }
  66.67% {
    background-position:
      0% 200%,
      50% 50%,
      100% 50%;
  }
  83.33% {
    background-position:
      0% 200%,
      50% 200%,
      100% 50%;
  }
  100% {
    background-position:
      0% 200%,
      50% 200%,
      100% 200%;
  }
}
