.__loading-dots-18 {
  --s: var(--size, 15px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1));
  --c1: var(--color-1, #000);
  --__a: calc(var(--__b) * -1);
  --__b: calc(var(--s) * 5 / 3);

  width: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--c1);
  box-shadow:
    var(--__a) 0,
    var(--__b) 0;
  animation: __loading-dots-18-l18 var(--d1) infinite;
}
@keyframes __loading-dots-18-l18 {
  25% {
    box-shadow:
      var(--__a) var(--__a),
      var(--__b) var(--__b);
  }
  50% {
    box-shadow:
      0 var(--__a),
      0 var(--__b);
  }
  75% {
    box-shadow:
      var(--__b) var(--__a),
      var(--__a) var(--__b);
  }
  100% {
    box-shadow:
      var(--__b) 0,
      var(--__a) 0;
  }
}
