.__loading-dots-25 {
  --s: var(--size, 50px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, var(--d));
  --d2: var(--duration-2, calc(var(--d) * 0.5));
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #0000);

  width: var(--s);
  height: calc(var(--s) * 0.24);
  --_g: no-repeat radial-gradient(farthest-side, var(--c1) 94%, var(--c2));
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: calc(var(--s) * 0.24) calc(var(--s) * 0.24);
  position: relative;
}
.__loading-dots-25:before {
  content: '';
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  inset: 0;
  margin: auto;
  animation:
    __loading-dots-25-l25-1 var(--d1),
    __loading-dots-25-l25-2 var(--d2);
  animation-timing-function: cubic-bezier(0.5, -900, 0.5, 900);
  animation-iteration-count: infinite;
}
@keyframes __loading-dots-25-l25-1 {
  100% {
    transform: translate(0.12px);
  }
}
@keyframes __loading-dots-25-l25-2 {
  100% {
    inset: -0.15px 0 0;
  }
}
