.__loading-dots-34 {
  --s: var(--size, 15px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, var(--d));
  --d2: var(--duration-2, calc(var(--d) * 0.5));
  --c1: var(--color-1, #000);
  --_g: no-repeat radial-gradient(farthest-side, var(--c1) 94%, #0000);

  height: var(--s);
  aspect-ratio: 4;
  display: grid;
}
.__loading-dots-34:before,
.__loading-dots-34:after {
  --__d: 0;
  content: '';
  grid-area: 1/1;
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: 25% 100%;
  animation: __loading-dots-34-l34 var(--d1) infinite;
  transform: translate(var(--__d, 0)) rotate(0);
}
.__loading-dots-34:after {
  --__d: 37.5%;
  animation-delay: calc(var(--d2));
}
@keyframes __loading-dots-34-l34 {
  50%,
  100% {
    transform: translate(var(--__d, 0)) rotate(0.5turn);
  }
}
