.__loading-dots-48 {
  --s: var(--size, 15px);
  --d: var(--duration, 750ms);
  --d1: var(--duration-1, calc(var(--d) * 1));
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #0000);

  height: var(--s);
  aspect-ratio: 5;
  mask: linear-gradient(90deg, var(--c2), var(--c1) 20% 80%, var(--c2));
  background: radial-gradient(closest-side at 37.5% 50%, var(--c1) 94%, var(--c2)) 0 / calc(80% / 3) 100%;
  animation: __loading-dots-48-l48 var(--d1) infinite linear;
}
@keyframes __loading-dots-48-l48 {
  100% {
    background-position: 36.36%;
  }
}
