.__loading-dots-9 {
  --s: var(--size, 15px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 1.5));
  --d2: var(--duration-2, calc(var(--d) * 0.75));
  --c1: var(--color-1, #000);
  --_a: calc(var(--s) * 26 / 15);
  --_b: calc(var(--s) * 13 / 15);
  --_c: calc(var(--s) * 52 / 15);

  width: var(--s);
  aspect-ratio: 1;
  position: relative;
  animation: __loading-dots-9-l9-0 var(--d1) infinite steps(2);
}
.__loading-dots-9::before,
.__loading-dots-9::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--c1);
}
.__loading-dots-9::before {
  box-shadow: var(--_a) 0;
  transform: translateX(calc(-1 * var(--_a)));
  animation: __loading-dots-9-l9-1 var(--d2) infinite linear alternate;
}
.__loading-dots-9::after {
  transform: translateX(var(--_b)) rotate(0deg) translateX(var(--_b));
  animation: __loading-dots-9-l9-2 var(--d2) infinite linear alternate;
}
@keyframes __loading-dots-9-l9-0 {
  0%,
  49.9% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}
@keyframes __loading-dots-9-l9-1 {
  100% {
    box-shadow: var(--_c) 0;
  }
}
@keyframes __loading-dots-9-l9-2 {
  100% {
    transform: translateX(var(--_b)) rotate(-180deg) translateX(var(--_b));
  }
}
