@scope (.__loading-arcade-6) {
  & {
    width: 80px;
    height: 60px;
    box-sizing: border-box;
    background:
      linear-gradient(#fff 0 0) left / calc(50% - 15px) 8px no-repeat,
      linear-gradient(#fff 0 0) right/calc(50% - 15px) 8px no-repeat,
      conic-gradient(from 135deg at top, #0000, red 1deg 90deg, #0000 91deg) bottom/14px 8px
        repeat-x,
      #000;
    border-bottom: 2px solid red;
    position: relative;
    overflow: hidden;
    animation: l6-0 1s infinite linear;
  }
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 14px;
    background: lightblue;
    left: -5px;
    animation:
      l6-1 2s infinite cubic-bezier(0, 100, 1, 100),
      l6-2 2s infinite linear;
  }
  @keyframes l6-0 {
    50% {
      background-position:
        left,
        right,
        bottom -2px left -4px;
    }
  }
  @keyframes l6-1 {
    0%,
    27% {
      bottom: calc(50% + 4px);
    }
    65%,
    100% {
      bottom: calc(50% + 4.1px);
    }
  }
  @keyframes l6-2 {
    100% {
      left: 100%;
    }
  }
}
