.__loading-flipping-20 {
  width: 60px;
  height: 60px;
  display: grid;
}
.__loading-flipping-20:before,
.__loading-flipping-20:after {
  content: '';
  grid-area: 1/1;
  background: #514b82;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 25%, 0 0, 0 100%, 100% 100%, 25% 75%, 0 0);
  animation: __loading-flipping-20-l20 1.5s infinite linear;
}
.__loading-flipping-20:after {
  clip-path: polygon(0 0, 76% 24%, 100% 100%, 24% 76%);
  --s: 0;
}
@keyframes __loading-flipping-20-l20 {
  0% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, 0);
  }
  25% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -90deg);
  }
  25.01% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -90deg);
  }
  40%,
  60% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -180deg);
  }
  75% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -270deg);
  }
  75.01% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -270deg);
  }
  90%,
  100% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -360deg);
  }
}
