.__loading-flipping-3 {
  width: 40px;
  aspect-ratio: 1;
  animation:
    __loading-flipping-3-l3-1 2s infinite linear,
    __loading-flipping-3-l3-2 3s infinite steps(1) -0.5s;
}
@keyframes __loading-flipping-3-l3-1 {
  0% {
    transform: perspective(150px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(150px) rotateX(180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(150px) rotateX(180deg) rotateY(180deg);
  }
}
@keyframes __loading-flipping-3-l3-2 {
  0% {
    background: #ffa516;
  }
  33% {
    background: #f03355;
  }
  66% {
    background: #25b09b;
  }
}
