.__loading-zig-zag-12 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg, #0000 0;
  background:
    conic-gradient(from 135deg at top, var(--c)),
    conic-gradient(from -45deg at bottom, var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: __loading-zig-zag-12-l12 2.5s infinite steps(11, jump-none) alternate;
}
@keyframes __loading-zig-zag-12-l12 {
  to {
    clip-path: inset(0);
  }
}
