.__loading-flipping-2 {
  --c: #ffa516;
  --s: var(--size, 40px);
  --d: var(--duration, 1000ms);
  --d1: var(--duration-1, calc(var(--d) * 2));
  --d2: var(--duration-2, var(--d));
  --c1: var(--color-1, #ffa516);
  --c2: var(--color-2, #f03355);

  width: var(--s);
  aspect-ratio: 1;
  animation:
    __loading-flipping-2-l2-1 var(--d1) infinite linear,
    __loading-flipping-2-l2-2 var(--d2) infinite steps(1) alternate;
}

@keyframes __loading-flipping-2-l2-1 {
  0% {
    transform: perspective(calc(var(--s) * 15 / 4)) rotateX(0deg);
  }
  100% {
    transform: perspective(calc(var(--s) * 15 / 4)) rotateX(360deg);
  }
}

@keyframes __loading-flipping-2-l2-2 {
  0% {
    background: var(--c1);
  }
  50% {
    background: var(--c2);
  }
}
