.__loading-continuous-2 {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0000, orange) left -50px top 0/50px 20px no-repeat lightblue;
  animation: __loading-continuous-2-l2 1s infinite linear;
}
@keyframes __loading-continuous-2-l2 {
  100% {
    background-position: right -50px top 0;
  }
}
