.__loading-continuous-6 {
  width: 120px;
  height: 20px;
  background:
    radial-gradient(circle 10px, #000 95%, #0000) right / calc(200% + 20px) 100%,
    linear-gradient(#000 0 0) center/100% 6px;
  background-repeat: no-repeat;
  -webkit-mask: radial-gradient(circle 4px, #0000 93%, #000) right/calc(200% + 20px) 100%;
  animation: __loading-continuous-6-l6 1s infinite linear;
}
@keyframes __loading-continuous-6-l6 {
  100% {
    background-position: left;
    -webkit-mask-position: left;
  }
}
