.__loading-bars-23 {
  --s: var(--size, 45px);
  --c1: var(--color-1, #000);
  --d1: var(--duration-1, 1s);

  height: var(--s);
  aspect-ratio: 1.6;
  --c: no-repeat repeating-linear-gradient(90deg, var(--c1) 0 20%, #0000 0 40%);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 62.5% 26%;
  animation: __loading-bars-23-l23 var(--d1) infinite;
}

@keyframes __loading-bars-23-l23 {
  0%,
  10% {
    background-position:
      50% calc(0 * 100% / 3),
      50% calc(1 * 100% / 3),
      50% calc(2 * 100% / 3),
      50% calc(3 * 100% / 3);
  }
  33% {
    background-position:
      100% calc(0 * 100% / 3),
      calc(100% - 9px) calc(1 * 100% / 3),
      9px calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  66% {
    background-position:
      0 calc(0 * 100% / 3),
      9px calc(1 * 100% / 3),
      calc(100% - 9px) calc(2 * 100% / 3),
      100% calc(3 * 100% / 3);
  }
  90%,
  100% {
    background-position:
      50% calc(0 * 100% / 3),
      50% calc(1 * 100% / 3),
      50% calc(2 * 100% / 3),
      50% calc(3 * 100% / 3);
  }
}
