.__loading-bars-26 {
  --s: var(--size, 45px);
  --c1: var(--color-1, #000);
  --c2: var(--color-2, #0000);
  --d1: var(--duration-1, 0.75s);

  width: var(--s);
  aspect-ratio: 1;
  --c: no-repeat
    repeating-linear-gradient(90deg, var(--c1) 0 calc(100% / 7), var(--c2) 0 calc(200% / 7));
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 140% 26%;
  animation: __loading-bars-26-l26 var(--d1) infinite linear;
}

@keyframes __loading-bars-26-l26 {
  0%,
  5% {
    background-position:
      0 calc(0 * 100% / 3),
      0 calc(1 * 100% / 3),
      0 calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  20% {
    background-position:
      50% calc(0 * 100% / 3),
      0 calc(1 * 100% / 3),
      0 calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  40% {
    background-position:
      100% calc(0 * 100% / 3),
      50% calc(1 * 100% / 3),
      0 calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  60% {
    background-position:
      100% calc(0 * 100% / 3),
      100% calc(1 * 100% / 3),
      50% calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  80% {
    background-position:
      100% calc(0 * 100% / 3),
      100% calc(1 * 100% / 3),
      100% calc(2 * 100% / 3),
      50% calc(3 * 100% / 3);
  }
  95%,
  100% {
    background-position:
      100% calc(0 * 100% / 3),
      100% calc(1 * 100% / 3),
      100% calc(2 * 100% / 3),
      100% calc(3 * 100% / 3);
  }
}
