.__loading-factory-2 {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  background: linear-gradient(#fff 0 0) center/2px 100% no-repeat;
  display: grid;
}
.__loading-factory-2:before,
.__loading-factory-2:after {
  content: '';
  grid-area: 1/1;
  background: repeating-linear-gradient(90deg, #fff 0 14px, #0000 0 100%) 0 0 / calc(100% / 4) 100%;
  clip-path: inset(0 50% 0 0);
  animation: __loading-factory-2-l2 1s infinite linear;
}
.__loading-factory-2:before {
  background: radial-gradient(circle 7px at 7px 50%, #fff 92%, #0000) 0 0 / calc(100% / 4) 100%;
  clip-path: inset(0 0 0 50%);
}
@keyframes __loading-factory-2-l2 {
  100% {
    background-position: calc(100% / 3) 0;
  }
}
