.__loading-nature-14 {
  width: calc(6 * 30px);
  height: 50px;
  display: grid;
  color: #8d7958;
  filter: drop-shadow(30px 25px 0 currentColor) drop-shadow(60px 0 0 currentColor)
    drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: __loading-nature-14-l14 2s infinite steps(7);
}
.__loading-nature-14:before,
.__loading-nature-14:after {
  content: '';
  width: 24px;
  grid-area: 1/1;
  height: 9px;
  background:
    radial-gradient(farthest-side, currentColor 90%, #0000) left/10px 9px,
    conic-gradient(from -106deg at right, #0000, currentColor 2deg 29deg, #0000 33deg) right/17px
      11px;
  background-repeat: no-repeat;
  transform: rotate(7deg);
  transform-origin: 5px 50%;
}
.__loading-nature-14:after {
  margin-top: 12px;
  transform: rotate(-7deg);
}
@keyframes __loading-nature-14-l14 {
  100% {
    clip-path: inset(0 -30px 0 0);
  }
}
