.__loading-line-16 {
  --s: var(--size, 60px);
  --c1: var(--color-1, #046d8b);
  --d: var(--duration, 1s);
  --d1: var(--duration-1, calc(var(--d) * 1.5));

  --_-3: calc(var(--s) / -20);
  --_3: calc(var(--s) / 20);
  --_4: calc(var(--s) / 15);

  --__z: no-repeat linear-gradient(var(--c1) 0 0);

  width: var(--s);
  height: calc(var(--s) * 4 / 15);
  display: grid;
}
.__loading-line-16:before,
.__loading-line-16:after {
  content: '';
  grid-area: 1/1;
  background: var(--__z), var(--__z), var(--__z);
  animation:
    __loading-line-16-l16-1 var(--d1) infinite linear,
    __loading-line-16-l16-2 var(--d1) infinite linear;
  transform: scale(var(--__y, 1)) translate(var(--_3), var(--_-3));
}
.__loading-line-16:after {
  --__y: -1;
}
@keyframes __loading-line-16-l16-1 {
  0%,
  3% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4);
  }
  16.67% {
    background-size:
      100% var(--_4),
      var(--_4) 0,
      0 var(--_4);
  }
  33.33% {
    background-size:
      100% var(--_4),
      var(--_4) 100%,
      0 var(--_4);
  }
  46%,
  54% {
    background-size:
      100% var(--_4),
      var(--_4) 100%,
      100% var(--_4);
  }
  66.67% {
    background-size:
      0 var(--_4),
      var(--_4) 100%,
      100% var(--_4);
  }
  83.33% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      100% var(--_4);
  }
  96%,
  100% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4);
  }
}
@keyframes __loading-line-16-l16-2 {
  0%,
  49.9% {
    background-position:
      0 0,
      100% 0,
      100% 100%;
  }
  50%,
  100% {
    background-position:
      100% 0,
      100% 100%,
      0 100%;
  }
}
