.__loading-line-8 {
  --s: var(--size, 60px);
  --d: var(--duration, 1s);
  --d1: calc(var(--d) * 2);
  --c1: var(--color-1, #046d8b);

  --_4: calc(var(--s) * 1 / 15);
  --_18: calc(var(--s) * 3 / 10);
  --_20: calc(var(--s) / 3);
  --_38: calc(var(--s) * 19 / 30);
  --_40: calc(var(--s) * 2 / 3);

  width: var(--s);
  aspect-ratio: 1;
  --__z: no-repeat linear-gradient(var(--c1) 0 0);
  background:
    var(--__z) 0 var(--_38),
    var(--__z) right var(--_18) bottom var(--_18),
    var(--__z) right var(--_18) top var(--_18),
    var(--__z) var(--_18) var(--_18),
    var(--__z) var(--_18) 100%,
    var(--__z) 100% 100%,
    var(--__z) 100% 0,
    var(--__z) 0 0;
  animation:
    __loading-line-8-l8-1 var(--d1) infinite,
    __loading-line-8-l8-2 var(--d1) infinite;
}
@keyframes __loading-line-8-l8-1 {
  0% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0;
  }
  6.25% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0;
  }
  12.5% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) var(--_20),
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0;
  }
  18.75% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) var(--_20),
      var(--_20) var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0;
  }
  25% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) var(--_20),
      var(--_20) var(--_4),
      var(--_4) var(--_40),
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0;
  }
  31.25% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) var(--_20),
      var(--_20) var(--_4),
      var(--_4) var(--_40),
      var(--_40) var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0;
  }
  37.5% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) var(--_20),
      var(--_20) var(--_4),
      var(--_4) var(--_40),
      var(--_40) var(--_4),
      var(--_4) 100%,
      0 var(--_4),
      var(--_4) 0;
  }
  43.75% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) var(--_20),
      var(--_20) var(--_4),
      var(--_4) var(--_40),
      var(--_40) var(--_4),
      var(--_4) 100%,
      100% var(--_4),
      var(--_4) 0;
  }
  48%,
  52% {
    background-size:
      var(--_40) var(--_4),
      var(--_4) var(--_20),
      var(--_20) var(--_4),
      var(--_4) var(--_40),
      var(--_40) var(--_4),
      var(--_4) 100%,
      100% var(--_4),
      var(--_4) var(--_40);
  }
  56.25% {
    background-size:
      0 var(--_4),
      var(--_4) var(--_20),
      var(--_20) var(--_4),
      var(--_4) var(--_40),
      var(--_40) var(--_4),
      var(--_4) 100%,
      100% var(--_4),
      var(--_4) var(--_40);
  }
  62.5% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      var(--_20) var(--_4),
      var(--_4) var(--_40),
      var(--_40) var(--_4),
      var(--_4) 100%,
      100% var(--_4),
      var(--_4) var(--_40);
  }
  68.75% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) var(--_40),
      var(--_40) var(--_4),
      var(--_4) 100%,
      100% var(--_4),
      var(--_4) var(--_40);
  }
  75% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      var(--_40) var(--_4),
      var(--_4) 100%,
      100% var(--_4),
      var(--_4) var(--_40);
  }
  81.25% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 100%,
      100% var(--_4),
      var(--_4) var(--_40);
  }
  87.5% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      100% var(--_4),
      var(--_4) var(--_40);
  }
  93.75% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) var(--_40);
  }
  100% {
    background-size:
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0,
      0 var(--_4),
      var(--_4) 0;
  }
}
@keyframes __loading-line-8-l8-2 {
  0%,
  49.9% {
    background-position:
      0 var(--_38),
      right var(--_18) bottom var(--_18),
      right var(--_18) top var(--_18),
      var(--_18) var(--_18),
      var(--_18) 100%,
      100% 100%,
      100% 0,
      0 0;
  }
  50%,
  100% {
    background-position:
      right var(--_18) bottom var(--_18),
      right var(--_18) top var(--_18),
      var(--_18) var(--_18),
      var(--_18) 100%,
      100% 100%,
      100% 0,
      0 0,
      bottom var(--_18) left 0;
  }
}
