.__loading-dots-vs-bars-15 {
  --s:var(--size, 40px);
  --c1:var(--color-1, #000);
  --d1:var(--duration-1, -0.2s);
  --d2:var(--duration-2, -0.4s);

  width: var(--s);
  aspect-ratio: 1;
  --c: linear-gradient(var(--c1) 0 0);
  --m: radial-gradient(farthest-side, var(--c1) 92%, #0000);
  background: var(--c), var(--m), var(--c), var(--m), var(--c), var(--m);
  background-size:
    calc(var(--s) * 0.2) calc(var(--s) * 0.375),
    calc(var(--s) * 0.2) calc(var(--s) * 0.2);
  background-repeat: no-repeat;
  animation: __loading-dots-vs-bars-15-l15 2s infinite;
}
@keyframes __loading-dots-vs-bars-15-l15 {
  0% {
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% 100%,
      100% 0,
      100% 100%;
  }
  11.11% {
    background-position:
      0 calc(100% - calc(var(--s) * 0.2)),
      0 100%,
      50% 0,
      50% 100%,
      100% 0,
      100% 100%;
  }
  22.22% {
    background-position:
      0 calc(100% - calc(var(--s) * 0.2)),
      0 100%,
      50% calc(100% - calc(var(--s) * 0.2)),
      50% 100%,
      100% 0,
      100% 100%;
  }
  33.33% {
    background-position:
      0 calc(100% - calc(var(--s) * 0.2)),
      0 100%,
      50% calc(100% - calc(var(--s) * 0.2)),
      50% 100%,
      100% calc(100% - calc(var(--s) * 0.2)),
      100% 100%;
  }
  44.44% {
    background-position:
      0 0,
      0 calc(var(--s) * 0.375),
      50% calc(100% - calc(var(--s) * 0.2)),
      50% 100%,
      100% calc(100% - calc(var(--s) * 0.2)),
      100% 100%;
  }
  55.55% {
    background-position:
      0 0,
      0 calc(var(--s) * 0.375),
      50% 0,
      50% calc(var(--s) * 0.375),
      100% calc(100% - calc(var(--s) * 0.2)),
      100% 100%;
  }
  66.66% {
    background-position:
      0 0,
      0 calc(var(--s) * 0.375),
      50% 0,
      50% calc(var(--s) * 0.375),
      100% 0,
      100% calc(var(--s) * 0.375);
  }
  77.77% {
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% calc(var(--s) * 0.375),
      100% 0,
      100% calc(var(--s) * 0.375);
  }
  88.88% {
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% 100%,
      100% 0,
      100% calc(var(--s) * 0.375);
  }
  100% {
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% 100%,
      100% 0,
      100% 100%;
  }
}
