.__loading-dots-vs-bars-17 {
  --s:var(--size, 40px);
  --c1:var(--color-1, #000);
  --d:var(--duration, 1000ms);
  --d1:var(--duration-1, var(--d));

  width: var(--s);
  aspect-ratio: 1;
  --c: linear-gradient(var(--c1) 0 0);
  --m: radial-gradient(farthest-side, var(--c1) 92%, #0000);
  background: var(--c), var(--m), var(--c), var(--m), var(--c), var(--m);
  background-size:
    calc(var(--s) * 0.2) calc(var(--s) * 0.3),
    calc(var(--s) * 0.2) calc(var(--s) * 0.2);
  background-repeat: no-repeat;
  animation: __loading-dots-vs-bars-17-l17 var(--d1) infinite linear;
}
@keyframes __loading-dots-vs-bars-17-l17 {
  0%,
  5% {
    background-position:
      0 50%,
      0 0,
      50% 50%,
      50% 0,
      100% 50%,
      100% 0;
  }
  12.5% {
    background-position:
      0 50%,
      0 calc(50% - calc(var(--s) * 0.25)),
      50% 50%,
      50% 0,
      100% 50%,
      100% 0;
  }
  25% {
    background-position:
      0 calc(50% + calc(var(--s) * 0.25)),
      0 50%,
      50% 50%,
      50% 0,
      100% 50%,
      100% 0;
  }
  37.5% {
    background-position:
      0 calc(50% + calc(var(--s) * 0.25)),
      0 50%,
      50% 50%,
      50% calc(50% - calc(var(--s) * 0.25)),
      100% 50%,
      100% 0;
  }
  50% {
    background-position:
      0 50%,
      0 0,
      50% calc(50% + calc(var(--s) * 0.25)),
      50% 50%,
      100% 50%,
      100% 0;
  }
  62.5% {
    background-position:
      0 50%,
      0 0,
      50% calc(50% + calc(var(--s) * 0.25)),
      50% 50%,
      100% 50%,
      100% calc(50% - calc(var(--s) * 0.25));
  }
  75% {
    background-position:
      0 50%,
      0 0,
      50% 50%,
      50% 0,
      100% calc(50% + calc(var(--s) * 0.25)),
      100% 50%;
  }
  87.5% {
    background-position:
      0 50%,
      0 0,
      50% 50%,
      50% 0,
      100% calc(50% + calc(var(--s) * 0.25)),
      100% 50%;
  }
  95%,
  100% {
    background-position:
      0 50%,
      0 0,
      50% 50%,
      50% 0,
      100% 50%,
      100% 0;
  }
}
