.__loading-dots-vs-bars-4 {
  --s:var(--size, 40px);
  --c1:var(--color-1, #000);
  --d:var(--duration, 1000ms);
  --d1:var(--duration-1, var(--d));
  --d2:var(--duration-2, calc(var(--d) / 2));

  width: var(--s);
  height: calc(var(--s) * 0.5);
  --c: no-repeat radial-gradient(farthest-side, var(--c1) 93%, #0000);
  background:
    var(--c) 0 0,
    var(--c) 50% 0,
    var(--c) 100% 0;
  background-size: calc(var(--s) * 0.2) calc(var(--s) * 0.2);
  position: relative;
  animation: __loading-dots-vs-bars-4-l4-0 var(--d1) linear infinite alternate;
}
.__loading-dots-vs-bars-4:before {
  content: '';
  position: absolute;
  width: calc(var(--s) * 0.2);
  height: calc(var(--s) * 0.3);
  background: var(--c1);
  left: 0;
  top: 0;
  animation:
    __loading-dots-vs-bars-4-l4-1 var(--d1) linear infinite alternate,
    __loading-dots-vs-bars-4-l4-2 var(--d2) cubic-bezier(0, 200, 0.8, 200) infinite;
}
@keyframes __loading-dots-vs-bars-4-l4-0 {
  0% {
    background-position:
      0 100%,
      50% 0,
      100% 0;
  }
  8%,
  42% {
    background-position:
      0 0,
      50% 0,
      100% 0;
  }
  50% {
    background-position:
      0 0,
      50% 100%,
      100% 0;
  }
  58%,
  92% {
    background-position:
      0 0,
      50% 0,
      100% 0;
  }
  100% {
    background-position:
      0 0,
      50% 0,
      100% 100%;
  }
}
@keyframes __loading-dots-vs-bars-4-l4-1 {
  100% {
    left: calc(100% - var(--s) * 0.2);
  }
}
@keyframes __loading-dots-vs-bars-4-l4-2 {
  100% {
    top: -0.1px;
  }
}
