.__loading-hungry-8 {
  --s:var(--size, 80px);

  --d: var(--duration, 1s);
  --d1: calc(var(--d) * 3);

  --c1: var(--color-1, #538a2d);
  --c2: var(--color-2, #e7ef9d);
  --c3: var(--color-3, #5c4037);
  --c4: var(--color-4, #ff1643);
  --c5: var(--color-5, #000);

  --_80: var(--s);
  --_40: calc(var(--s) / 2);
  --_100: calc(var(--s) * 5 / 4);
  --_5: calc(var(--s) / 16);
  --_17: calc(var(--s) * 17 / 80);
  --_12: calc(var(--s) * 3 / 20);
  --_2: calc(var(--s) / 40);
  --_3: calc(var(--s) / 80 * 3);
  --_20: calc(var(--s) / 4);
  --_-8: calc(var(--s) / -10);
  --_29: calc(var(--s) * 29 / 80);
  --_45: calc(var(--s) * 9 / 16);
  --_-6: calc(var(--s) / -40 * 3);
  --_22: calc(var(--s) * 11 / 40);
  --_-2: calc(var(--s) / -40);
  --_34: calc(var(--s) * 17 / 40);
  --_6: calc(var(--s) / 40 * 3);
  --_21: calc(var(--s) * 21 / 80);

  width: var(--_80);
  height: var(--_40);
  border-radius: 0 0 var(--_100) var(--_100);
  border: var(--_5) solid var(--c1);
  border-top: 0;
  box-sizing: border-box;
  background:
    radial-gradient(
      farthest-side at top,
      #0000 calc(100% - var(--_5)),
      var(--c2) calc(100% - var(--_5))
    ),
    radial-gradient(var(--_2) var(--_3), var(--c3) 89%, #0000) 0 0 / var(--_17) var(--_12),
    var(--c4);
  --_z: radial-gradient(farthest-side, var(--c5) 94%, #0000);
  -webkit-mask:
    linear-gradient(#0000 0 0),
    var(--_z) var(--_12) var(--_-8),
    var(--_z) var(--_29) var(--_-8),
    var(--_z) var(--_45) var(--_-6),
    var(--_z) var(--_22) var(--_-2),
    var(--_z) var(--_34) var(--_6),
    var(--_z) var(--_21) var(--_6),
    linear-gradient(var(--c5) 0 0);
  mask:
    linear-gradient(var(--c5) 0 0),
    var(--_z) var(--_12) var(--_-8),
    var(--_z) var(--_29) var(--_-8),
    var(--_z) var(--_45) var(--_-6),
    var(--_z) var(--_22) var(--_-2),
    var(--_z) var(--_34) var(--_6),
    var(--_z) var(--_21) var(--_6),
    linear-gradient(#0000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude, add, add, add, add, add, add;
  -webkit-mask-repeat: no-repeat;
  animation: __loading-hungry-8-l8 var(--d1) infinite;
}
@keyframes __loading-hungry-8-l8 {
  0% {
    -webkit-mask-size:
      auto,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0;
  }
  15% {
    -webkit-mask-size:
      auto,
      var(--_20) var(--_20),
      0 0,
      0 0,
      0 0,
      0 0,
      0 0;
  }
  30% {
    -webkit-mask-size:
      auto,
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      0 0,
      0 0,
      0 0,
      0 0;
  }
  45% {
    -webkit-mask-size:
      auto,
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      0 0,
      0 0,
      0 0;
  }
  60% {
    -webkit-mask-size:
      auto,
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      0 0,
      0 0;
  }
  75% {
    -webkit-mask-size:
      auto,
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      0 0;
  }
  90%,
  100% {
    -webkit-mask-size:
      auto,
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20),
      var(--_20) var(--_20);
  }
}
