.__loading-infinity-17 {
  --s: var(--size, 60px);
  --c1: var(--color-1, #000);
  --d: var(--duration, 1s);
  --d1: var(--duration-1, var(--d));

  --_10: calc(var(--s) / 6);
  --_20: calc(var(--s) / 3);
  --_30: calc(var(--s) / 2);

  width: var(--s);
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at var(--_10) var(--_10), var(--c1) 90deg, #0000 0);
  background: var(--g), var(--g), var(--g);
  background-size: 50% 50%;
  animation: __loading-infinity-17-l17 var(--d1) infinite;
}

@keyframes __loading-infinity-17-l17 {
  0% {
    background-position:
      0 0,
      var(--_10) var(--_10),
      var(--_20) var(--_20);
  }
  33% {
    background-position:
      calc(-1 * var(--_30)) 0,
      var(--_10) var(--_10),
      var(--_20) var(--_20);
  }
  66% {
    background-position:
      calc(-1 * var(--_30)) 0,
      calc(-1 * var(--_20)) var(--_10),
      var(--_20) var(--_20);
  }
  100% {
    background-position:
      calc(-1 * var(--_30)) 0,
      calc(-1 * var(--_20)) var(--_10),
      calc(-1 * var(--_10)) var(--_20);
  }
}
