.__loading-wobbling-13 {
  width: 20px;
  aspect-ratio: 1;
  animation: __loading-wobbling-13-l13-0 2s linear infinite;
}
.__loading-wobbling-13::before,
.__loading-wobbling-13::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(at 30% 30%, #0000, #000a) red;
  animation: __loading-wobbling-13-l13-1 0.5s cubic-bezier(0.5, -500, 0.5, 500) infinite;
}
.__loading-wobbling-13::after {
  animation-delay: -0.15s;
}
@keyframes __loading-wobbling-13-l13-0 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes __loading-wobbling-13-l13-1 {
  100% {
    transform: translate(0.5px);
  }
}
