.__loading-wobbling-16 {
  width: 80px;
  height: 50px;
  background:
    radial-gradient(farthest-side, #0000 calc(100% - 15px), #ccc calc(100% - 14px) 99%, #0000)
      center/50px 100%,
    linear-gradient(#ccc 0 0) bottom/100% 14px;
  background-repeat: no-repeat;
  position: relative;
  animation: __loading-wobbling-16-l16-0 2s -0.5s infinite linear;
}
.__loading-wobbling-16:before {
  content: '';
  position: absolute;
  inset: auto auto 2px 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f03355;
  transform-origin: 50% -14px;
  animation: __loading-wobbling-16-l16-1 0.5s infinite linear alternate;
}
@keyframes __loading-wobbling-16-l16-0 {
  0%,
  49.99% {
    transform: scaleX(1);
  }
  50%,
  100% {
    transform: scaleX(-1);
  }
}
@keyframes __loading-wobbling-16-l16-1 {
  0% {
    transform: translate(0) rotate(0);
  }
  50% {
    transform: translate(34px) rotate(0);
  }
  100% {
    transform: translate(34px) rotate(-180deg);
  }
}
