@scope (.__loading-hypnotic-13) {
  & {
    width: 60px;
    height: 30px;
    display: flex;
    --c: #0000 calc(100% - 5px), #000 calc(100% - 4px) 96%, #0000;
    background:
      radial-gradient(farthest-side at bottom, var(--c)) 0 0,
      radial-gradient(farthest-side at top, var(--c)) 100% 100%;
    background-size: calc(50% + 2px) 50%;
    background-repeat: no-repeat;
    animation: l13 2s infinite linear;
  }
  &:before {
    content: '';
    flex: 1;
    background: inherit;
    transform: rotate(90deg);
  }
  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }
}
