.__loading-hypnotic-18 {
  width: 25px;
  height: 50px;
  display: grid;
  color: #000;
  background:
    linear-gradient(currentColor 0 0) top/100% 2px,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      top,
    linear-gradient(currentColor 0 0) bottom/100% 2px,
    radial-gradient(
        farthest-side at bottom,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      bottom;
  background-size:
    100% 1px,
    100% 50%;
  background-repeat: no-repeat;
  animation: __loading-hypnotic-18-l18 4s infinite linear;
}
.__loading-hypnotic-18::before,
.__loading-hypnotic-18::after {
  content: '';
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}
.__loading-hypnotic-18::after {
  animation-duration: 2s;
}
@keyframes __loading-hypnotic-18-l18 {
  100% {
    transform: rotate(1turn);
  }
}
