.__loading-hypnotic-2 {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #000;
  border: 2px solid;
  box-sizing: border-box;
  position: relative;
  transform-origin: left;
  animation: __loading-hypnotic-2-l2 1s infinite linear;
}
.__loading-hypnotic-2::before,
.__loading-hypnotic-2::after {
  content: '';
  position: absolute;
  inset: 0 0 auto;
  margin: auto;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid;
  box-sizing: content-box;
  transform-origin: 50% calc(100% - 4px);
  animation: inherit;
}
.__loading-hypnotic-2::after {
  inset: auto 0 calc(100% + 2px);
  animation-duration: 0.5s;
  animation-direction: reverse;
  transform-origin: 50% calc(200% - 2px);
}
@keyframes __loading-hypnotic-2-l2 {
  100% {
    transform: rotate(1turn);
  }
}
