.__loading-hypnotic-4 {
  width: 50px;
  aspect-ratio: 1;
  color: #000;
  border: 2px solid;
  box-sizing: border-box;
  --c: radial-gradient(
    farthest-side,
    #0000 calc(100% - 3px),
    currentColor calc(100% - 2px) 98%,
    #0000
  );
  background: var(--c), var(--c);
  background-size: 23px 23px;
  background-position:
    0 0,
    12px 12px;
  animation: __loading-hypnotic-4-l4 1s infinite;
}
@keyframes __loading-hypnotic-4-l4 {
  100% {
    background-position:
      -23px 0px,
      12px 35px;
  }
}
