.__loading-hypnotic-6 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #000;
  background:
    linear-gradient(90deg, currentColor 2px, #0000 0 calc(100% - 2px), currentColor 0) center/100%
      14px,
    linear-gradient(0deg, currentColor 2px, #0000 0 calc(100% - 2px), currentColor 0) center/14px
      100%,
    linear-gradient(currentColor 0 0) center/100% 2px,
    linear-gradient(currentColor 0 0) center/2px 100%;
  background-repeat: no-repeat;
  animation: __loading-hypnotic-6-l6 4s infinite linear;
}
.__loading-hypnotic-6::before,
.__loading-hypnotic-6::after {
  content: '';
  grid-area: 1/1;
  background: inherit;
  transform-origin: inherit;
  animation: inherit;
}
.__loading-hypnotic-6::after {
  animation-duration: 2s;
}
@keyframes __loading-hypnotic-6-l6 {
  100% {
    transform: rotate(1turn);
  }
}
