.__loading-hypnotic-9 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(#0000, #000 1deg 18deg, #0000 20deg 36deg);
  animation: __loading-hypnotic-9-l9 4s infinite linear;
  position: relative;
}
.__loading-hypnotic-9::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: inherit;
  animation: inherit;
}
@keyframes __loading-hypnotic-9-l9 {
  100% {
    transform: rotate(0.5turn);
  }
}
